@import "varStatic.less";

#header {
  .center-block {
    width: @allWidth;

    .logo {
      left: @headLeftLogo;
    }
    .about {
      left: @headLeftLogo + 122;
    }
    .telefon {
      left: @headLeftTelefon;
    }
    .slide-turn-mode {
      right: @headRightSlideTurnMode;
    }
  }
}
.wrapper {

  > .center-block {
    width: @allWidth;

    .left-block {
      width: @leftBlockWidth;
    }

    .main-block {
      width: @mainBlockWidth;

      #content {
        width: @contentWidth;

        .recommended-ticket {
          width: (@contentWidth - 24) / 2;
        }
      }
      .filter-block {
        width: @filterBlockWidth;
      }
    }
  }
}
