@img-url: "/themes/v2";

/* COLOR */
@black-main-color: #1d222b;
@blue-link-color: #1C81BB;
@grey-title-color: #4b525c;
@white-color: #FFFFFF;
@grey-shadow: #acb0b4;
.text-shadow (@color: #FFF) {
  text-shadow: 0px 1px 0px @color;
//  filter: Shadow(Color=@color, Direction=90, Strength=1);
}

/* FONT */
@font-family-main:  Arial, sans-serif;
.font-size(@size : 12px) {font-size: @size;}
/* RADIUS */
.border-radius(@radius : 5px) {
  border-radius: @radius;
  -moz-border-radius: @radius;
  -webkit-border-radius: @radius;
}

/* MAIN BODY STYLE */
html, body {
  height: 100%;
  margin: 0px;
  padding: 0px 0px 0px 0px;
}
body {
  width: 100%;
  height: 100%;
  background: url("@{img-url}/images/BG_NEW.png");
  color: @black-main-color;
  font-family: @font-family-main;
  .font-size();
  position: relative;
}
a {
  color: inherit;
}
input, select, button {
  margin-left: 0px;
  padding: 0px;
}
h1 {
  color: @black-main-color;
  .font-size(22px);
  .text-shadow (@grey-shadow);
  margin-bottom: 12px;
  letter-spacing: 0.001em;
}
h3 {
  color: @black-main-color;
  .font-size(18px);
  .text-shadow (@grey-shadow);
  color: #1d222b;
  margin-bottom: 10px;
}
h4 {
  color: @black-main-color;
  .font-size(15px);
  margin-bottom: 6px;
  .text-shadow (@white-color);
}
h1.title {
  color: @white-color;
  .border-radius(20px);
  .font-size(24px);
  background: none repeat scroll 0 0 rgba(27, 29, 32, 0.7);
  display: inline-block;
  font-weight: normal;
  height: 40px;
  left: 26px;
  line-height: 40px;
  padding: 0 10px;
  position: absolute;
  text-shadow: none;
  top: -60px;
  white-space: nowrap;
}
h1.title img {
  margin-bottom: -8px;
  margin-right: -10px;
  margin-top: -10px;
  vertical-align: middle;
}