@img-url: "/themes/v2";

/* COLOR */
@black-main-color: #1d222b;
@blue-link-color: #1C81BB;
@grey-title-color: #4b525c;
@white-color: #FFFFFF;
@grey-shadow: #acb0b4;
@blue-shadow: #0B5B88;
@orange-shadow: #c36408;
@grey-btn-shadow: #444D57;
.text-shadow (@color: #FFF) {
  text-shadow: 0px 1px 0px @color;
//  filter: Shadow(Color=@color, Direction=90, Strength=1);
}

/* FONT */
@font-family-main:  Arial, sans-serif;
.font-size(@size : 12px) {font-size: @size;}
/* RADIUS */
.border-radius(@radius : 5px) {
  border-radius: @radius;
  -moz-border-radius: @radius;
  -webkit-border-radius: @radius;
}