.weekDays{
    width: 810px;
}
.weekDay{
    width: 110px;
    border: 1px #000 solid;
    display: inline-block;
}
.calendarGrid{
    width: 810px;
    height: 336px;
    overflow-x: hidden;
    overflow-y: auto;
}
.calendarLine{
    position: relative;
}
.dayCell{
    width: 110px;
    height: 110px;
    border: 1px #000 solid;
    display: inline-block;
}
.monthLine{
    width: 810px;
    height: 30px;
    position: relative;
    background-color: #ccccff;
}
.monthLine .monthName{
    position: absolute;
    z-index: 10;
    padding: 5px;
}
.monthLine .knob{
    position: absolute;
    z-index: 5;
    opacity: 0.3;
    /*width: 40px;*/
    height: 30px;
    background-color: #fff;
}

.calendarHotel
{
    position: absolute;
    z-index: 10;
    height: 110px;
    top: 0;
}

.calendarHotel .relHotel
{
    position: relative;
    width: 100%;
    height: 100%;
}

.calendarHotel .leftPartHotel{
    position: absolute;
    left: 0;
    width: 55px;
    background-color: #ff0000;
    opacity: 0.3;
    height: 110px;
}

.calendarHotel .rightPartHotel{
    position: absolute;
    right: 0;
    width: 55px;
    background-color: #ff0000;
    opacity: 0.3;
    height: 110px;
}

.calendarHotel .hotelDescription{
    position: absolute;
    right: 0;
    width: 100%;
    background-color: #ff0000;
    opacity: 0.3;
    height: 30px;
    top: 30px;
}