html, body {
    height: 100%;
}

.container > footer p {
    text-align: center; /* center align it with the container */
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -125px;
}

.push {
    height: 125px;
}

/* The white background content wrapper */
.breadcrumb {
    padding: 7px 20px;
    margin: 0 0px 18px;
}

/* Footer */
.footer {
    background-color: #eee;
    padding: 39px 0;
    text-shadow: 0 1px 0 #fff;
    border-top: 1px solid #e5e5e5;
    -webkit-box-shadow: inset 0 5px 15px rgba(0,0,0,.025);
    -moz-box-shadow: inset 0 5px 15px rgba(0,0,0,.025);
    box-shadow: inset 0 5px 15px rgba(0,0,0,.025);
}

.footer p {
    color: #555;
    text-align: center;
}

.login{
    width: 300px;
    margin: auto;
}

.wrapper > .container {
    padding-top: 60px;
}

.help-inline{
    color: red;
    padding: 0px 0px 5px 5px;
}

.userinfo {
    min-height: 200px;
}