# IDE specific folders
.idea/
# runtime yii
/www/assets/
*/www/assets/
*~
*/runtime/
/protected/runtime/
/protected/config/local.php

# specific config for local development
/frontend/config/*-local.php
/backend/config/*-local.php
/common/config/*-local.php
/api/config/*-local.php

node_modules

# we will need it as only push to prod
#/common/config/params-local.php

.DS_Store

markup/.DS_Store

/vendor

frontend/www/themes/v2/assets/js/.DS_Store
frontend/www/resources/

# vagrant
.vagrant

/frontend/www/themes/v2/all.css
/frontend/www/themes/v2/all.min.css
/frontend/www/js/v2/all.js
/frontend/www/js/v2/all.min.js