# IDE specific folders
.idea/
/www/assets/
*/www/assets/
*~
*/runtime/
/protected/runtime/
/protected/config/local.php

# specific config for local development
/frontend/config/params-local.php
/backend/config/params-local.php

# we will need it as only push to prod
/common/config/params-local.php

#.DS_Store
