# IDE specific folders
.idea/
/www/assets/
*/www/assets/
*~
*/runtime/
/protected/runtime/
/protected/config/local.php

# specific config for local development
/frontend/config/*-local.php
/backend/config/*-local.php
/common/config/*-local.php
/api/config/*-local.php

node_modules

# we will need it as only push to prod
#/common/config/params-local.php

.DS_Store

.DS_Store

markup/.DS_Store

/vendor

frontend/www/themes/v2/assets/js/.DS_Store

-p