body {
	width: 100%; height: 100%; 
	background: #d7d8dd; 
	padding: 0px 0px 0px 0px; 
	color: #FFF; 
	font-size: 12px; font-family: Arial;
}
a {
	color: inherit;
}

h1 {
	color: #1d222b;
	font-size: 22px; text-shadow: #acb0b4 0px 1px 0px; 
	margin-bottom: 12px;	
	letter-spacing: 0.001em;
}
.main-block h1 {text-shadow: #FFF 0px 1px 0px; margin-bottom: 20px; letter-spacing: -0.05em;}
.ticket-content h2 {
	font-size: 18px; text-shadow: 0px 1px 0px #FFF;
	color: #4b525c; margin-bottom: 20px;
	letter-spacing: -0.05em;
	float: left;
}
h3 {
	font-size: 18px; text-shadow: #acb0b4 0px 1px 0px;
	color: #1d222b;
	margin-bottom: 10px;
}
h3.calendarTitle {
	color: #202328;
	font-size: 24px;
	font-family: Georgia;
	font-weight: bold;
	font-style: italic;
}
h4 {
	color: #1D222B;
    font-size: 15px;
    margin-bottom: 6px;
    text-shadow: 0 1px 0 #FFFFFF;
}
h4 a {
	font-size: 12px; text-shadow: none;
}
input, select, button {
	margin-left: -0px;
}
.recommended-ticket h3, .prices-of-3days h3 {color: #4b525c; text-shadow: #FFF 0px 1px 0px; margin-bottom: 22px;}
