.btn-selecte {
	background: url("../images/slice.png") no-repeat 0px -534px;
	width: 190px; height: 27px;
	display: inline-block;
	color: #FFF;
	font-weight: bold; text-shadow: 0px 1px 0px #0b5b88; font-size: 14px;
	padding: 10px 0px 0px 14px;
}
.btn-selecte .price {
	margin-left: 8px;
}
.btn-selecte .price, .btn-selecte .rur  {
	font-size: 26px;
	vertical-align: top;
}
.btn-selecte .rur {
	display: inline-block;
	margin-top: -2px;
	margin-left: 5px;
}
.btn-order {
	color: #FFF;
	width: 130px;
	height: 30px;
	background: url(../images/slice.png) no-repeat -211px -534px;
	display: block;
	padding-top: 9px;
	padding-left: 15px;
	margin-bottom: 7px;
	text-shadow: 0px 1px 0px #850606;
	margin-top: 5px;
}
.btn-order span {
	display: inline-block;
	vertical-align: middle;
}
.btn-order .cost {
	font-size: 26px; 
	font-weight: bold;
	margin-left: 0px;
	margin-right: 5px;	
}
.btn-order .rur {
	height: 21px;
}
.btn-order:hover {
	text-decoration: none;
	background: url("../images/slice.png") no-repeat scroll -211px -573px transparent;
}
.btn-look {
	background: url(../images/slice.png) no-repeat 0px -612px;
	width: 117px; height: 26px;
	cursor: pointer;
	display: inline-block;
	text-indent: -9999px;
}

.btn-cost {
	background: url("../images/slice.png") no-repeat right -690px;
	min-width: 90px; height: 26px;
	display: inline-block;
	color: #FFF;
	font-weight: bold; text-shadow: 0px 1px 0px #0b5b88; font-size: 14px;
	padding: 11px 5px 0px 0px;
	position: relative;
	line-height: 16px !important;
	text-align: center;
	margin-left: 1px;
}
.btn-cost.hotel {
	background-position: right -1444px;
}
.btn-cost.hotel:hover {
	background-position: right -1481px;
	color: #FFF;
} 
.btn-cost.hotel .l  {
	background-position: left -1444px;
}
.btn-cost.hotel:hover .l {
	background-position: left -1481px;
}
.btn-cost:hover {
	background-position: right -727px;
	color: #FFF !important;
}
.btn-cost .l {
	background: url("../images/slice.png") no-repeat scroll left -690px transparent;
    display: block;
    height: 37px; width: 10px;
    left: -3px; top: 0;
    position: absolute;
}
.btn-cost:hover .l {
	background-position: left -727px;
}
.btn-cost  .price, .btn-cost  .rur  {
	font-size: 26px;
	vertical-align: top;
	position: relative;
	z-index: 100;
}
.btn-cost  .rur {
	display: inline-block;
	margin-top: -3px;
	margin-left: 2px;
}
.btn-cost .text {
	position: relative;
	z-index: 100;
	margin: 0 2px 0px 0px;
}
.btn-find {
    background: url("../images/slice.png") no-repeat scroll -122px -1014px transparent;
    cursor: pointer;
    display: inline-block;
    height: 47px;
    text-indent: -9999px;
    width: 83px;
    vertical-align: middle;
}
.btn-find:hover {
	background-position: -122px -1061px;
}
.btnDeleteTrip {
	width: 11px; height: 11px;
	display: inline-block;
	cursor: pointer;
	text-indent: -9999px;
	background: url(../images/ico-my-trip.png) no-repeat -7px -605px;
	vertical-align: middle;
}
.btnDeleteTrip:hover {
	background-position: -7px -663px;
}
.btnChangeStart {
	background: url("../images/btnTripAll.png") no-repeat scroll 0 0 transparent;
    color: #FFFFFF;
    display: inline-block;
    font-size: 12px;
    height: 22px;
    padding-top: 2px;
    text-align: center;
    text-shadow: 0 1px 0 #35383C;
    vertical-align: text-top;
    width: 105px;
}
.btnGoBuy {
	text-indent: -9999px;
	width: 193px;
	height: 42px;
	display: inline-block;
	background: url(../images/slice.png) 0px -1518px;
	vertical-align: bottom;
	margin-left: 30px;	
	position: relative;
}