.slider-filter { 
	height: 23px; width: 100%;
	position: relative;
	color: #2e333b;
	margin-bottom: 11px;
}
/*--*/
.slide-filter {
	margin-bottom: 13px;
	line-height: 15px;
}
/*--*/
.checkbox {
	background: url("../images/img-checkbox.png") no-repeat scroll 0 0 transparent;
    display: block;
    float: left;
    height: 18px;
    margin-right: 5px;
    vertical-align: middle;
    width: 17px;
}

.div-filter ul li {line-height: 15px; margin-bottom: 0px;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.more-filters{
    display: none;
}

.slider-wrapper-div{
    margin-left: 5px;
    margin-right: 7px;
    margin-top: 26px;
}