@charset "UTF-8";
/* CSS Document */
#loadWrapBg {
	background: rgba(38,41,46,0.8);
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0px;
	right: 0px;
	left: 0px;
	bottom: 0px;
	z-index: 800;
}

#loadContentWin {
	position: absolute;
	width: 252px;
	height: 331px;
	
	top: 300px;
	left: 550px;
	
	z-index: 801;
	background: url(../images/loadBg.png) no-repeat;
}
#loadGIF {
	position: absolute;
	top: 13px;
	width: 252px;
}
#loadTXT {
	position: absolute;
	top: 224px;
	width: 252px;
	text-align: center;
	font-family: Arial;
	color: #16181c;
	text-shadow: 0px 1px 0px rgba(255,255,255, 0.7);
	font-size: 14px;
	line-height: 20px;
}
#loadLight {
	display: inline-block;
    height: 52px;
    margin-left: -30px;
    text-align: center;
    margin-top: -10px;
}

#loadLight li {
	float: left;
	height: 52px;
	width: 52px;
	margin-right: -30px;
	background: url(../images/loadLight.png) no-repeat -52px 0px;
}
#loadLight li.active {
	background-position: 0px 0px;
}
#changeText {
	font-size: 11px;
	color: #454654;
	margin-top: -10px;
}