@charset "UTF-8";
/* CSS Document */
.body-popup {
	background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 1px 2px rgba(1, 1, 1, 0.9);
    left: 0;
    overflow-x: hidden;
    padding: 21px;
    position: absolute;
    top: 0;
    width: 780px;
    z-index: 1000;
}
#popupOverlay {position:fixed; top:0px; left:0px; z-index:999; background:#26292e; opacity:0.81; height:100%; width:100%;}
.popup {position:absolute; z-index:1000;}
.popup > div + div {position: relative;}
#boxContent, #boxTopLeft, #boxTopCenter, #boxTopRight, #boxMiddleLeft, #boxBottomLeft, #boxBottomCenter, #boxBottomRight, #boxMiddleRight  {
	float:left;
}
#boxMiddleLeft, #boxBottomLeft {
    clear: left;
}
#boxContent {
    position: relative;
	background: none repeat scroll 0 0 #F4F7F9;
	padding:0px 0px 0px 0px;
	min-width:100px;
	line-height:22px;
	color:#191b1c;
	
}
#contentBox {
	position: relative;
}
#boxContent h1 {margin-bottom:14px;}
#boxTopLeft {
    background: url("../images/border1.png") no-repeat scroll -29px 0 transparent;
    height: 50px;
    width: 21px;
}
#boxTopCenter {
    background: url("../images/border1.png") repeat-x scroll 0 -102px transparent;
    height: 50px;
}
#boxTopRight {
    background: url("../images/border1.png") no-repeat scroll -50px 0 transparent;
    height: 50px;
    width: 20px;
}
#boxMiddleLeft {
    background: url("../images/border2.png") repeat-y scroll -29px 0 transparent;
    min-height: 100%;
    width: 21px;
}
#boxMiddleRight {
    background: url("../images/border2.png") repeat-y scroll -50px 0 transparent;
    width: 20px;
	min-height:100%;
}
#boxBottomLeft {
    background: url("../images/border1.png") no-repeat scroll -29px -50px transparent;
    height: 50px;
    width: 21px;
}
#boxBottomCenter {
    background: url("../images/border1.png") repeat-x scroll 0 -152px transparent;
    height: 50px;
}
#boxBottomRight {
    background: url("../images/border1.png") no-repeat scroll -50px -50px transparent;
    height: 50px;
    width: 20px;
}
#boxClose {
    background: url("../images/btn-close.png") no-repeat scroll 0 0 transparent;
    color: #444444;
    display: block;
    height: 17px;
	margin:0 auto;
    text-indent: -9999px;
    width: 17px;
	cursor:pointer;
	position: absolute;
	z-index: 10000;
	top: -10px;
	right: -7px;
}
