
#scrollbar1 {
}
#scrollbar1 .viewport {
    height: 250px;
    overflow: hidden;
    position: relative;
    width: 100%;
}
#scrollbar1 .overview {
    left: 0;
    list-style: none outside none;
    margin: 0px;
    padding: 0;
    position: absolute;
    top: 0;
    width: 235px;
}
#scrollbar1 .scrollbar {
    background: url("../images/bg-scrollbar-track-y.png") no-repeat scroll 0 0 transparent;
    float: right;
    position: relative;
    width: 10px;
}
#scrollbar1 .track {
    height: 100%;
    padding: 0 1px;
    position: relative;
    width: 10px;
}
#scrollbar1 .thumb {
    background: url("../images/bg-scrollbar-thumb-y.png") no-repeat scroll 50% 100% transparent;
    cursor: pointer;
    height: 20px;
    left: 1px;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 8px;
}
#scrollbar1 .thumb .end {
    height: 5px;
    overflow: hidden;
    width: 8px;
}
#scrollbar1 .disable {
    display: none;
}
.noSelect {
    -moz-user-select: none;
}
