/* Tickets BIG */
.ticket-items {
	background: none repeat scroll 0 0 #F4F7F9;
    color: #1D222B;
    position: relative;
    padding: 0; margin-bottom: 21px;

    padding-bottom: 3px;
}

.ticket-items .lt {
	background: url(../images/bg-recommended-ticket.png) no-repeat 0 0px;
	position: absolute; top: 0px; left: 0px;
	width: 8px; height: 5px;
	display: block;
	z-index: 3;
}

.ticket-items .rt {
	background: url(../images/bg-recommended-ticket.png) no-repeat -8px 0px;
	position: absolute; top: 0px; right: 0px;
	width: 8px; height: 5px;
	display: block;
	z-index: 3;
}

.ticket-items .lv {
	background: url(../images/bg-recommended-ticket.png) no-repeat 0px bottom;
	position: absolute; top: 0px; left: 0px;
	width: 8px; height: 100%;
	display: block;
	z-index: 2;
}
.ticket-items .rv {
	background: url(../images/bg-recommended-ticket.png) no-repeat -8px bottom;
	position: absolute; top: 0px; right: 0px;
	width: 8px; height: 100%;
	display: block;
	z-index: 2;
}
.ticket-items .bh {
	background: url(../images/bg-recommended-ticket-hor.png) repeat-x 0px -8px;
	position: absolute; bottom: 0px; left: 0px;
	width: 100%; height: 8px;
	display: block;
	z-index: 1;
}
.ticket-items .content {
	position: relative; z-index: 10;
	padding: 0 160px 0px 120px;
	
}
.ticket-items .content .airlines {
	width: 120px; height: 100%;;
	background: url(../images/dashed-ticket.png) repeat-y right top;
	margin: 0px;
	z-index: 201;
	padding-top: 0px;
	text-align: center; font-size: 20px; line-height: 30px;
	position: absolute;
	top:0px; left: 0px;
}
.ticket-items .content .airlines div {
	position: absolute;
	width: 120px;
	line-height: 13px;
	margin-top: 31px;
}
.ticket-items .content .airlines div span {
	font-size: 12px;
}
.airlinesLogo {
	height: 72px;
    left: -105px;
    margin-top: -36px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100px;
}
.airlinesLogo img {
	margin-bottom: 2px;
}
.ticket-items .content .buy-ticket {
	width: 160px; height: 100%;
	background: url(../images/dashed-ticket.png) repeat-y left top;
	position: relative; z-index: 201;
	position: absolute;
	top:0px; right: 0px;
}
.ticket-items .content .buy-ticket .text {
	position: absolute; left: 15px;
	height: 80px;
	margin-top: -40px;
	top: 50%;

}
.ticket-items .content .buy-ticket .text .btn-cost {
	width: 88%;
}
.ticket-items .content .buy-ticket .text > span {
	font-size: 14px; 
	color: #262930; 
	font-weight: bold;
}
.ticket-items .content .buy-ticket .text .txtBuy {
	display: inline-block;
	margin-bottom: 5px;
}
.ticket-items .content .buy-ticket .details {
	color: #4b525c; font-size: 11px;
	border-bottom: 1px dashed;
	display: block;
	position: absolute;
	left: 15px;
	bottom: 5px;
	line-height: 13px;
}
.ticket-items .content .center-ticket {
	margin: 0 auto;
    padding: 0 0px 0px 0px;
    min-height: 75px;
}
.ticket-items .content .center-ticket .date-time-city {
	min-height: 96px;
    padding-left: 125px;
    padding-right: 135px;
    position: relative;
}

.date-time-city .start {
	left: 15px;
    position: absolute;
    top: 0;
    width: 100px;
}
.date-time-city .finish {
	position: absolute;
    right: 15px;
    top: 0;
    width: 100px;
}
.recommended-ticket .ticket-items .date-time-city .start {
	left: 0px;
	
}
.recommended-ticket .ticket-items .date-time-city .finish {
	right: 0px;
	
}
.date-time-city .start .date, .date-time-city .finish .date {
    color: #4B525C;
    font-size: 12px;
    line-height: 27px;
}
.date-time-city .start .time, .date-time-city .finish .time {
    font-size: 23px;
    line-height: 27px;
}
.date-time-city .start .city, .date-time-city .finish .city {
    line-height: 20px;
    white-space: nowrap;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100px;
}
.date-time-city .start .airport, .date-time-city .finish .airport {
    color: #879094;
    line-height: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100px;
}
/* MARGIN */
.date-time-city .how-long {

	padding-top: 12px;
}
/* END MARGIN */
.date-time-city .how-long .time {
	white-space: nowrap;
}
.date-time-city .how-long .time, .date-time-city .how-long .path {
    color: #4B525C;
    font-size: 11px;
    text-align: left;
    
}
.date-time-city .how-long .path {
	line-height: 15px;
}
.ticket-items .content .center-ticket .date-time-city .how-long .ico-path {
    background: url("../images/ico-path.png") no-repeat scroll 0 0 transparent;
    height: 15px;
    margin-bottom: 6px;
    position: relative;
}
.ticket-items .content .center-ticket .date-time-city .how-long .ico-path .down {
    background: url("../images/ico-path.png") no-repeat scroll right 0 transparent;
    height: 15px;
    position: absolute;
    right: 0;
    top: 0;
    width: 25px;
}
.ticket-items .content .center-ticket .date-time-city .how-long .ico-path .cup {
    background: url("../images/ico-path.png") no-repeat scroll 0 -15px transparent;
    height: 15px;
    left: 50px;
    position: absolute;
    top: 0;
    width: 25px;
}
.ticket-items .content .center-ticket .date-time-city .how-long .path.no-wait {
    color: #1C81BB;
    white-space: nowrap;
}
.ticket-items .content .center-ticket .line-two-ticket {
    background: url("../images/line-two-ticket.png") no-repeat scroll -11px 0 transparent;
    height: 13px;
    margin-left: -120px;
    margin-right: -5px;
    position: relative;
    z-index: 205;
}
.ticket-items .content .center-ticket .line-two-ticket .end {
   	background: url("../images/line-two-ticket.png") no-repeat scroll right 0 transparent;
    height: 13px;
    position: absolute;
    right: 0;
    top: 0;
    width: 14px;
}
.ticket-items .content .center-ticket .line-two-ticket .r {
	background: url("../images/line-two-ticket.png") no-repeat scroll -9px -20px transparent;
    height: 13px;
    position: absolute;
    right: -155px;
    top: 0;
    width: 9px;
}
.ticket-items .content .center-ticket .line-two-ticket .l {
	background: url("../images/line-two-ticket.png") no-repeat scroll 0 -20px transparent;
    height: 13px;
    left: 0;
    position: absolute;
    top: 0;
    width: 9px;
}
.ticket-items .content .center-ticket .other-time {
    border-top: 1px solid #ADAEB0;
    color: #5B5F6A;
    padding: 5px 0 0px 15px;
    position: relative;
    overflow: hidden;
}
.ticket-items .content .center-ticket .other-time .title {
	float: left;
}
.ticket-items .content .center-ticket .other-time .btn-minimize {
	float: right;
	margin-right: 8px;
	color: #787d89;
	padding-right: 17px;
	background: url(../images/ico-minimize.png) no-repeat right center;
	height: 18px;
    padding-left: 0px;
    position: relative;
    right :auto;
    top: auto;
    width: auto;
}
.ticket-items .content .center-ticket .other-time .btn-minimize.up {
	background: url(../images/ico-minimize-up.png) no-repeat right center;
}
.ticket-items .content .center-ticket .other-time .btn-minimize a {
	border-bottom: 1px dashed;
}
.ticket-items .content .center-ticket .other-time ul {
	position: relative;
	z-index: 210;
}

.ticket-items .content .center-ticket .other-time ul.expand .ico-path-time {
    display: block;
    margin-left: -16px;
    padding-bottom: 3px;
    padding-left: 16px;
    padding-top: 3px;
}
.ticket-items .content .center-ticket .other-time ul.expand .ico-path-time .path {
    background: url("../images/ico-path.png") no-repeat scroll center -32px transparent;
    color: #262930;
    display: inline-block;
    height: 14px;
    min-width: 215px;
    position: relative;
    text-align: center;
    width: 280px;
}
.ticket-items .content .center-ticket .other-time ul.expand .ico-path-time .path .in-path {
    background: none repeat scroll 0 0 #F4F7F9;
    font-size: 10px;
    padding: 0 5px;
    display: inline;
}
.ticket-items .content .center-ticket .other-time ul.expand .ico-path-time .path .start {
    background: url("../images/ico-path.png") no-repeat scroll left -33px #F4F7F9;
    display: block;
    font-family: Verdana;
    height: 14px;
    left: 0;
    padding-left: 25px;
    position: absolute;
    text-align: left;
    top: 0;
    width: 38px;
}
.ticket-items .content .center-ticket .other-time ul.expand .ico-path-time .path .finish {
    background: url("../images/ico-path.png") no-repeat scroll -680px -33px #F4F7F9;
    display: block;
    font-family: Verdana;
    height: 14px;
    padding-left: 25px;
    position: absolute;
    right: 0;
    text-align: left;
    top: 0;
    width: 31px;
}
/* ACTIVE */
.ticket-items .content .center-ticket .other-time ul.expand .ico-path-time.hover, .ticket-items .content .center-ticket .other-time ul.expand .ico-path-time.hover:hover {
    background: none repeat scroll 0 0 #404345;
}
.ticket-items .content .center-ticket .other-time ul.expand .ico-path-time.hover .path, .ticket-items .content .center-ticket .other-time ul.expand .ico-path-time.hover:hover .path {
    background: url("../images/ico-path.png") no-repeat scroll center -52px transparent;
    color: #FFFFFF;
}
.ticket-items .content .center-ticket .other-time ul.expand .ico-path-time.hover .path .in-path, .ticket-items .content .center-ticket .other-time ul.expand .ico-path-time.hover:hover .path .in-path {
    background: none repeat scroll 0 0 #404345;
}
.ticket-items .content .center-ticket .other-time ul.expand .ico-path-time.hover .path .start, .ticket-items .content .center-ticket .other-time ul.expand .ico-path-time.hover:hover .path .start {
    background: url("../images/ico-path.png") no-repeat scroll left -53px #404345;
}
.ticket-items .content .center-ticket .other-time ul.expand .ico-path-time.hover .path .finish, .ticket-items .content .center-ticket .other-time ul.expand .ico-path-time.hover:hover .path .finish {
    background: url("../images/ico-path.png") no-repeat scroll -680px -53px #404345;
}
.ticket-items .content .center-ticket .other-time ul.expand .ico-path-time:hover {
    background: none repeat scroll 0 0 #cbcecf;
}
.ticket-items .content .center-ticket .other-time ul.expand .ico-path-time:hover .path {
    background: url("../images/ico-path.png") no-repeat scroll center -32px transparent;
    color: #262930;
}
.ticket-items .content .center-ticket .other-time ul.expand .ico-path-time:hover .path .in-path {
    background: none repeat scroll 0 0 #cbcecf;
}
.ticket-items .content .center-ticket .other-time ul.expand .ico-path-time:hover .path .start {
    background: url("../images/ico-path.png") no-repeat scroll left -33px #cbcecf;
}
.ticket-items .content .center-ticket .other-time ul.expand .ico-path-time:hover .path .finish {
    background: url("../images/ico-path.png") no-repeat scroll -680px -33px #cbcecf;
}



/* TURN */
.ticket-items .content .center-ticket .other-time ul.minimize {
    margin-left: -4px;
    margin-top: 0px;
    overflow: hidden;
    padding-bottom: 4px;
}
.ticket-items .content .center-ticket .other-time ul.minimize li {
    background: url("../images/bg-dotted.png") no-repeat scroll right center transparent;
    float: left;
    margin-left: -3px;
    padding-left: 6px;
    padding-right: 6px;
}
.ticket-items .content .center-ticket .other-time ul.minimize li:last-child {
	background: none; padding-right: 0px;
}
.ticket-items .content .center-ticket .other-time ul.minimize .ico-path-time .path .in-path, .ticket-items .content .center-ticket .other-time ul.minimize .ico-path-time .path .finish, .ticket-items .content .center-ticket .other-time ul.minimize .ico-path-time input {
    display: none;
}
.ticket-items .content .center-ticket .other-time ul.minimize .ico-path-time .path {
    background: none repeat scroll 0 0 transparent;
    display: block;
    height: 18px;
    text-align: center;
    width: 40px;
}
.ticket-items .content .center-ticket .other-time ul.minimize .ico-path-time .path .start {
    background: none repeat scroll 0 0 transparent;
    border-bottom: 1px dashed;
    color: #1C81BB;
    display: inline;
    font-family: Verdana;
    position: relative;
    text-align: left;
}
.ticket-items .content .center-ticket .other-time ul.minimize .ico-path-time.hover .path {
    background: url("../images/bg-selecte-time.png") no-repeat scroll 0 1px transparent;
}
.ticket-items .content .center-ticket .other-time ul.minimize .ico-path-time.hover .path .start {
    border-bottom: medium none;
    color: #FFFFFF;
}
/* SMALL TICKET */
.ticket-items.small .content {
	padding: 0 140px 0px 120px;
}
.ticket-items.small .content .buy-ticket {
	width: 140px;
}
.ticket-items.small .content .center-ticket .date-time-city .how-long {
	padding-top: 30px;
}
.ticket-items.small .content .center-ticket .date-time-city .how-long .time {
	display: none;
}
.ticket-items.small .content .center-ticket .date-time-city .how-long .path {
	opacity: 0;
	white-space: nowrap;
}
.ticket-items.small .content .center-ticket .date-time-city .how-long .ico-path .down {
	display: none;
}
.ticket-items.small .content .center-ticket .date-time-city .how-long .ico-path {
	background: url("../images/ico-path.png") no-repeat scroll center -95px transparent;
}
.ticket-items.small .content .center-ticket .date-time-city .how-long .ico-path .cup:first-child {
	display: block;
	width: 28px;
	height: 15px;
	background: url("../images/ico-path.png") no-repeat scroll 0 -80px transparent;
	position: relative;
	margin: 0 auto;
	left: auto !important;
	top: inherit;
}
.ticket-items.small .content .center-ticket .date-time-city .how-long .ico-path .cup {
	display: none;
}
.ticket-items.small .content .center-ticket .other-time ul.expand .ico-path-time .path {
	width: 215px;
}
.ticket-items.small .content .center-ticket .other-time ul {
	position: relative;
	z-index: 210;
}
.ticket-items.small .content .center-ticket .line-two-ticket .r {
	right: -135px;
}
.ticket-items.small .content .center-ticket .other-time ul.expand .ico-path-time .path .in-path span {
	display: none;
}
/* tickets SMALL */
.recommended-ticket {
	position: relative;
	width: 318px;
	float: left;
	margin-bottom: 52px;
}
.recommended-ticket + .recommended-ticket {
	float: right;
}
.recommended-ticket .ticket-items {
	background: none repeat scroll 0 0 #F4F7F9;
    color: #1D222B;
    position: relative;
    margin: 0px;
}
.recommended-ticket .ticket-items .ribbon-cheapest {
    background: url("../images/ribbon.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 111px;
    position: absolute;
    right: -1px;
    top: -4px;
    width: 111px;
    z-index: 300;
}
.recommended-ticket .ticket-items .ribbon-faster {
    background: url("../images/ribbonFaster.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 111px;
    position: absolute;
    right: -1px;
    top: -4px;
    width: 111px;
    z-index: 300;
}
.recommended-ticket .ticket-items .ribbon-optima {
    background: url("../images/ribbonOptima.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 111px;
    position: absolute;
    right: -1px;
    top: -4px;
    width: 111px;
    z-index: 3;
}
.recommended-ticket .ticket-items .content {
	padding: 15px 20px 0px 20px;
}
.recommended-ticket .ticket-items .content .airlines-line {
	font-size: 20px;
    overflow: hidden;
    padding-bottom: 10px;
    white-space: nowrap;
    width: 94%;
    position: relative;
}
.recommended-ticket .ticket-items .content .airlines-line span {
	display: inline-block;
    font-size: 16px;
    vertical-align: text-top;
}
.recommended-ticket .ticket-items .content .date-time-city {
	position: relative;
	
	min-height: 72px;
}
.recommended-ticket .ticket-items .content .date-time-city .start .date, .recommended-ticket .ticket-items .content .date-time-city .finish .date, .recommended-ticket .ticket-items .content .date-time-city .start .city, .recommended-ticket .ticket-items .content .date-time-city .finish .city, .recommended-ticket .ticket-items .content .date-time-city .start .airport, .recommended-ticket .ticket-items .content .date-time-city .finish .airport {
	line-height: 15px;
}
.recommended-ticket .ticket-items .content .how-long {
	margin-left: -20px;
	margin-right: 0px;
	padding-top: 5px;	
}
.recommended-ticket .ticket-items .content .how-long .path, .recommended-ticket .ticket-items .content .how-long .time {
	text-align: center;
}
.recommended-ticket .ticket-items .content .how-long .ico-path {
	background: url("../images/ico-path.png") no-repeat scroll center -95px transparent;
	height: 15px;
    position: relative;
    width: inherit;
}
.recommended-ticket .ticket-items .content .how-long .ico-path .cup {
    background: url("../images/ico-path.png") no-repeat scroll 0 -80px transparent;
    display: block;
    height: 15px;
    left: auto !important;
    margin: 0 auto;
    position: relative;
    top: inherit;
    width: 28px;
}
.recommended-ticket .ticket-items .content .other-time {
    background: url("../images/bg-other-time.png") repeat scroll 0 0 transparent;
    border-top: 1px solid #C0C3C6;
    color: #4B525C;
    min-height: 40px;
    margin: 8px -19px 0px -18px;
    padding: 0px 1px 0px 18px;
    position: relative; z-index: 102;
}
.recommended-ticket .ticket-items .content .other-time .left {
    background: url("../images/slice.png") no-repeat scroll -417px -141px transparent;
    cursor: pointer;
    height: 40px;
    left: -22px;
    position: absolute;
    top: 0;
    width: 23px;
    display: block;
}
.recommended-ticket .ticket-items .content .other-time .left.none {
    background-position: -417px -181px;
    cursor: default;
}
.recommended-ticket .ticket-items .content .other-time .right {
    background: url("../images/slice.png") no-repeat scroll -440px -181px transparent;
    cursor: pointer;
    height: 40px;
    position: absolute;
    right: -21px;
    top: 0;
    width: 23px;
    display: block;
}
.recommended-ticket .ticket-items .content .other-time .right.none {
    background-position: -440px -141px;
    cursor: default;
}
.recommended-ticket .ticket-items .content .other-time .text {
	float: left;
}
.recommended-ticket .ticket-items .content .other-time .variation {
	overflow: hidden;
	margin-top: 10px;
}

.recommended-ticket .ticket-items .content .other-time ul.minimize {
    margin-left: 0px;
    margin-top: 0;
    padding-bottom: 4px;
    overflow: hidden;
}
.recommended-ticket .ticket-items .content .other-time ul.minimize li {
    background: url("../images/bg-dotted.png") no-repeat scroll right center transparent;
    float: left;
    margin-left: -3px;
    padding-left: 6px;
    padding-right: 6px;
}
.recommended-ticket .ticket-items .content .other-time ul.minimize li:last-child {
	background: none;
	padding-right: 0px;
}
.recommended-ticket .ticket-items .content .other-time ul.minimize li input {
	display: none;
}
.recommended-ticket .ticket-items .content .other-time ul.minimize li label {
	display: block;
    height: 18px;
    text-align: center;
    width: 40px;
    cursor: pointer;
}
.recommended-ticket .ticket-items .content .other-time ul.minimize li label span {
    background: none repeat scroll 0 0 transparent;
    border-bottom: 1px dashed;
    color: #1C81BB;
    display: inline;
    font-family: Verdana;
    position: relative;
    text-align: left;
}
.recommended-ticket .ticket-items .content .other-time ul.minimize li.active label {
    background: url("../images/bg-selecte-time.png") no-repeat scroll 0 1px transparent;
}
.recommended-ticket .ticket-items .content .other-time ul.minimize li.active label span {
	color: #FFF;
	border: none;
}
.recommended-ticket .ticket-items .content .details-selecte {
	overflow: hidden;
	padding: 0px 2px 2px 2px;
	margin: 5px -2px 8px;
}
.recommended-ticket .ticket-items .content .dashed {
	margin-top: 10px;
	margin-left: -15px;
	margin-right: -15px;
	position: relative;
	z-index: 205;
	height: 1px;
	background: url(../images/dashed-ticket-hor.gif) repeat-x left top;
}
.recommended-ticket .ticket-items .content .details-selecte .details {
    color: #4B525C;
    display: block;
    float: left;
    width: 74px;
    font-size: 11px;
    line-height: 16px;
}
.recommended-ticket .ticket-items .content .details-selecte .details a {
    border-bottom: 1px dashed;
    text-decoration: none;
}
.recommended-ticket .ticket-items .content .details-selecte .btn-cost {
	margin-left: 5px;
	width: 190px;
	float: right;
}
.recommended-ticket .ticket-items .content .line-two-ticket {
    background: url("../images/line-two-ticket.png") no-repeat scroll left -40px transparent;
    height: 13px;
    margin-left: -20px;
    margin-right: -20px;
    position: relative;
    z-index: 205;
    margin-top: 10px;
    margin-bottom: 10px;
}
.recommended-ticket .ticket-items .content .line-two-ticket .end {
    background: url("../images/line-two-ticket.png") no-repeat scroll right -40px transparent;
    height: 13px;
    position: absolute;
    right: 0;
    top: 0;
    width: 10px;
}
.recommended-ticket .ticket-items .content .line-dashed-ticket {
    background: url("../images/line-two-ticket.png") no-repeat scroll left -55px transparent;
    height: 13px;
    margin: 0 -20px 5px;
    position: relative;
    z-index: 205;
}
.recommended-ticket .ticket-items .content .line-dashed-ticket .end {
    background: url("../images/line-two-ticket.png") no-repeat scroll right -55px transparent;
    height: 13px;
    position: absolute;
    right: 0;
    top: 0;
    width: 10px;
}

/* SMALL */
.recommended-ticket .ticket-items.small {
	min-width: 250px;
}
.recommended-ticket .ticket-items.small .content .how-long {
	padding-top: 20px;	
}
.recommended-ticket .ticket-items.small  .content .how-long .path, .recommended-ticket .ticket-items.small  .content .how-long .time {
	display: none;
}
.recommended-ticket .ticket-items.small .content .details-selecte .btn-cost .text {
	display: none;
}
.recommended-ticket .ticket-items.small .content .details-selecte .btn-cost {
	width: 125px;
}

/* HOTEL */

.hotels-tickets {
	background: none repeat scroll 0 0 #F4F7F9;
    color: #1D222B;
    position: relative;
    padding: 0; margin-bottom: 32px;
    padding-bottom: 3px;
}
.hotels-tickets  .lt {
	background: url(../images/bg-recommended-ticket.png) no-repeat 0 0px;
	position: absolute; top: 0px; left: 0px;
	width: 8px; height: 5px;
	display: block;
	z-index: 3;
}

.hotels-tickets  .rt {
	background: url(../images/bg-recommended-ticket.png) no-repeat -8px 0px;
	position: absolute; top: 0px; right: 0px;
	width: 8px; height: 5px;
	display: block;
	z-index: 3;
}

.hotels-tickets  .lv {
	background: url(../images/bg-recommended-ticket.png) no-repeat 0px bottom;
	position: absolute; top: 0px; left: 0px;
	width: 8px; height: 100%;
	display: block;
	z-index: 2;
}
.hotels-tickets  .rv {
	background: url(../images/bg-recommended-ticket.png) no-repeat -8px bottom;
	position: absolute; top: 0px; right: 0px;
	width: 8px; height: 100%;
	display: block;
	z-index: 2;
}
.hotels-tickets  .bh {
	background: url(../images/bg-recommended-ticket-hor.png) repeat-x 0px -8px;
	position: absolute; bottom: 0px; left: 0px;
	width: 100%; height: 8px;
	display: block;
	z-index: 1;
}
.hotels-tickets .content {
	position: relative; z-index: 10;
	padding: 10px 0px 8px 0px;
	height: 100%;
}
.hotels-tickets .content .full-info {
	margin: 0px 18px 8px 12px; padding: 0px 153px 0px 135px;
	position: relative;
	min-height: 117px;
}

.hotels-tickets .content .full-info .preview-photo {
	width: 117px; height: 117px;
	overflow: hidden;
	position: absolute;
	top: 0px; left: 0px;
}
.how-much {
	background: url("../images/bg-photo-preview.png") no-repeat scroll 0 0 transparent;
    bottom: 0;
    color: #FFFFFF;
    font-size: 11px;
    height: 23px;
    left: 0;
    padding-left: 26px;
    padding-top: 2px;
    position: absolute;
    width: 117px;
}
.hotels-tickets .content .full-info .choose-a-hotel {
	width: 135px; height: 117px;
	position: absolute;
	top: 0px; right: 0px;
	color: #202328;
	font-size: 11px;
}
.hotels-tickets .content .full-info .choose-a-hotel .btn-cost {
	position: absolute; top: 60px;
	width: 130px;
}
.hotels-tickets .content .full-info .choose-a-hotel .details {
	display: inline-block;
	position: absolute;
	color: #292d34; font-size: 11px;
	border-bottom: 1px dashed;
	line-height: 12px; bottom: -1px;
}
.hotels-tickets .content .full-info .choose-a-hotel .rating {
	text-align: right;
}
.hotels-tickets .content .full-info .choose-a-hotel .rating .value {
	display: inline-block;
	font-size: 20px;
}
.hotels-tickets .content .full-info .choose-a-hotel .rating span.text {
	display: inline-block;
	line-height: 9px;
	text-align: left;
	margin-left: 5px;
}
.description .title {
	line-height: 27px;
	white-space: nowrap;
}
.description .place {
	line-height: 18px;
	color: #292d34;
	font-size: 14px;
	white-space: nowrap;
}
.description .place .street {
	display: inline-block;
    height: 17px;
    max-width: 365px;
    overflow: hidden;
    padding-right: 20px;
    position: relative;
}
.description .text {
	margin-top: 10px;
	line-height: 20px;
	color: #676e7e;
	overflow: hidden;
	height: 60px;
	position: relative;
}
.description h2 {
	font-size: 18px;
	color: #1a1b1e;
	display: inline-block;
	margin-right: 5px;
	position: relative;
	height: 20px;
	overflow: hidden;
    max-width: 365px;
    padding-right: 25px;
    margin-bottom: 0px;
    letter-spacing: normal;
}
.description > .title > .stars {
	margin-left: -8px;
}

.description .place .in-the-map {
    display: inline-block;
    font-size: 11px;
    margin-left: -2px;
    padding-left: 0;
    position: relative;
    vertical-align: top;
    z-index: 100;
}
.hotels-tickets .description .place .in-the-map span.link {
	border-bottom: 1px dashed;
}
.hotels-tickets .description .place .in-the-map .ico-see-map {
	vertical-align: middle;
}
.hotels-tickets .description h2 .gradient, .description .place .street .gradient {
	display: block;
	width: 46px; height: 100%;
	position: absolute; right: 0px; top: 0px;
	z-index: 1;
	background: url(../images/gradient-hotel-right.png) repeat-y right top;
}
.hotels-tickets.small .description h2 .gradient, .hotels-tickets.small .description .place .street .gradient {
	display: block;
}
.description .text .gradient {
	display: block;
	width: 100%; height: 16px;
	position: absolute; left: 0px; bottom: 0px;
	z-index: 1;
	background: url(../images/gradient-hotel-bottom.png) repeat-x right bottom;
}
.hotels-tickets.small .description h2 {
	overflow: hidden; width: 185px;
}
.hotels-tickets.small .description .place .street {
	overflow: hidden; width: 185px;
}
.hotels-tickets .content > .details {
	background: url("../images/bg-hotel.png") repeat scroll 0 0 transparent;
    border-top: 1px solid #AEAEAE;
    padding: 8px 8px 1px;
    position: relative;
}
.hotels-tickets .content .details .lv {
	background: url(../images/bg-hotel-ticket.png) no-repeat 0px top;
	position: absolute; top: 0px; left: 0px;
	width: 8px; height: 100%;
	display: block;
	z-index: 2;
}
.hotels-tickets .content .details .rv {
	background: url(../images/bg-hotel-ticket.png) no-repeat -8px top;
	position: absolute; top: 0px; right: 0px;
	width: 8px; height: 100%;
	display: block;
	z-index: 2;
}
.hotels-tickets .content .details ul li {
	margin-bottom: 8px;
}
.hotels-tickets .content .details ul li .items {
	background: #fff;
	border-radius: 5px 5px 5px 5px;
	box-shadow: 0px 1px 0px #a6a7ab;
	padding: 5px 9px 2px 9px;
	line-height: 20px;
	vertical-align: bottom;
}
.hotels-tickets .content .details ul li .items .float {
	font-size: 11px;
}
.hotels-tickets .content .details ul li .items .text {
	font-size: 16px;
	font-weight: bold;
	color: #2174a3;
	letter-spacing: 0.02em;
}
.hotels-tickets .content .details ul li .items .how-cost {
	float: right;
	line-height: 19px;
}
.hotels-tickets .content .details ul li .items .cost {
	color: #202328; 
	font-size: 22px;
	font-weight: bold;
}
.hotels-tickets .content .details ul li .items .ico-breakfast {
	margin-left: 10px;
}
.tab-ul {
	position: absolute;
	bottom: -32px; left: 10px;
	background: url(../images/slice.png) no-repeat 0px -784px;
	width: 168px;
	font-size: 11px; text-shadow: 0px 1px 0px #FFF;
	text-align: center;
	height: 23px;
}
.tab-ul a {
	letter-spacing: -0.03em;
	background: url(../images/down-shift.png) no-repeat right -5px;
	padding-right: 10px;
}
.tab-ul a.active {
	background-position: right -30px;
}
/* POP UP */
.top-head-tickets, .middle-head-tickets  {
	background: url("../images/bg-popup-fly.png") no-repeat scroll 0 0 transparent;
    min-height: 34px;
    overflow: hidden;
    padding-left: 33px;
    padding-top: 13px;
    width: 589px;
}
.middle-head-tickets {
	background: url(../images/bg-popup-fly.png) no-repeat 0 -250px;
}
.top-head-tickets .date, .middle-head-tickets .date{
	float: left;
	padding-top: -px;
	font-size: 15px;
	color: #4e4f54;
	text-shadow: 0px 1px 0px #FFF;
	width: 115px;
}
.top-head-tickets h3, .middle-head-tickets h3  {
	float: left;
	text-shadow: 0px 1px 0px #FFF;
	color: #1d222b;
	font-size: 24px;
}
.tickets-details .content {
	padding-top: 23px;
	padding-bottom: 13px;
	padding-left: 13px;
	padding-right: 13px;
	background: #f4f7f9;
	overflow: hidden;
}
.tickets-details .content .start-path {
	overflow: hidden;
}
.tickets-details .content .end-path {
	overflow: hidden;
}
.tickets-details .content .information {
	float: left;
}
.tickets-details .content .information .start-fly {
	overflow: hidden;
	width: 430px;
	height: 25px;
}
.tickets-details .content .information .time {
	width: 64px;
	font-size: 20px;
	color: #111112;
	padding-right: 28px;
	float: left;
	text-align: right;
}
.tickets-details .content .information .icon {
	width: 43px;
	float: left;
	height: 35px;
	background: url(../images/ico-fly-info.png) no-repeat 0px 0px;
}
.tickets-details .content .information .icon.jet {
	background-position: 0px 0px;
}
.tickets-details .content .information .place {
	float: left;
}
.tickets-details .content .information .place span.city {
	font-size: 20px;
	color: #111112;
}
.tickets-details .content .information .place span.airport {
	font-size: 13px;
	color: #525559;
}
.tickets-details .content .aviacompany {
	color: #aaaeb3;
    float: right;
    line-height: 16px;
    padding-top: 7px;
    text-align: left;
    width: 160px;
}
.tickets-details .content .aviacompany img {
	margin-bottom: 3px;
}
.tickets-details .content .aviacompany span {
	color: #1D222B;
}
.tickets-details .content .information .time-fly {
	height: 23px;
	overflow: hidden;
}
.tickets-details .content .information .time-fly .icon.wait {
	margin-left: 92px;
	width: 43px;
	float: left;
	height: 23px;
	background: url(../images/ico-fly-info.png) no-repeat 0px -30px;
}
.tickets-details .content .information .time-fly .info {
	float: left;
	color: #aaaeb3;
	padding-top: 0px;
}
.tickets-details .content .information .finish-fly {
	width: 430px;
	overflow: hidden;
	height: 30px;
}
.tickets-details .content .information .finish-fly .icon {
	background-position: 0px -158px;
}
.tickets-details .content .information .finish-fly.no-way .time {
	font-size: 16px;	
}
.tickets-details .content .information .finish-fly.no-way .icon {
	background-position: 0px -46px;
}
.tickets-details .content .information .finish-fly.no-way  .place span.city {
	font-size: 16px;
}

.tickets-details .content .transitum {
	height: 22px;
	border-top:1px solid #b9bbbd;
	border-bottom:1px solid #b9bbbd;
	padding-left: 135px;
	color: #1c81bb;
	font-size: 12px;
	background: url(../images/ico-fly-info.png) no-repeat 92px -82px;
}

.tickets-details .content .end-path .start-fly {
	padding-top: 6px;
}
.tickets-details .content .end-path .start-fly .icon.jet {
	background-position: 0px -105px;
	margin-top: -6px;
}
.tickets-details .content .end-path .start-fly .time {
	font-size: 16px;	
}
.tickets-details .content .end-path .start-fly  .place span.city {
	font-size: 16px;
}
.tickets-details .content .end-path .finish-fly .icon.jet {
	background-position: 0px -158px;
}
.tickets-details .content .mid-path {
	overflow: hidden;
}
.tickets-details .content .mid-path .start-fly {
	padding-top: 6px;
}
.tickets-details .content .mid-path .start-fly .icon.jet {
	background-position: 0px -105px;
	margin-top: -6px;
}
.tickets-details .content .mid-path .start-fly .time {
	font-size: 16px;	
}
.tickets-details .content .mid-path .start-fly  .place span.city {
	font-size: 16px;
}
.tickets-details .content .mid-path .finish-fly .icon.jet {
	background-position: 0px -46px;
}
.tickets-details .lines {
	background: url(../images/dashed-ticket-hor.gif) repeat-x;
	height: 1px; 
	border: none;
	margin: 0px;
}
.tickets-details .finish {
	overflow: hidden;
	padding: 14px 35px 0 13px;
}
.tickets-details .finish .floatLeft {
	color: #525559;
    float: left;
    font-size: 11px;
    line-height: 16px;
    padding-left: 14px;
    width: 330px;
}
.back {
	padding-left: 52px;
}
.ico-back {
	background: url("../images/backornot.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 17px;
    margin-left: -50px;
    float: left;
    vertical-align: text-bottom;
    width: 42px;
}
.ico-back.no {
	background-position: 0px -17px;
}
.boxKG {
	padding-left: 53px;
	margin-top: 13px;
}
.boxKG .box {
	background: url("../images/portBox.png") no-repeat scroll center 0 transparent;
    display: block;
    float: left;
    height: 23px;
    margin-left: -50px;
    width: 42px;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    color: #FFF;
    padding-top: 9px;
}
.tickets-details .finish .floatRight {
	float: right;
    height: 85px;
    overflow: hidden;
    padding-bottom: 1px;
    width: 155px;
}
.tickets-details .yes .btn-order {
	display: inline-block;
	text-align: left !important;
	margin-left: 10px;
	line-height: 15px;
}
.tickets-details .other-time {
	float: left;
	line-height: 17px;
	max-width: 350px;
	color: #1D222B;
}
.tickets-details .other-time .variation {
   	margin-left: 15px;
    margin-top: 5px;
    overflow: hidden;
}
.tickets-details .other-time ul.minimize {
    margin-left: 0;
    margin-top: 0;
    overflow: hidden;
    padding-bottom: 4px;
}
.tickets-details .other-time ul.minimize li {
    background: url("../images/bg-dotted.png") no-repeat scroll right center transparent;
    float: left;
    margin-left: -3px;
    padding-left: 6px;
    padding-right: 6px;
}
.tickets-details .other-time ul.minimize li input {
    display: none;
}
.tickets-details .other-time ul.minimize li label {
    cursor: pointer;
    display: block;
    height: 18px;
    text-align: center;
    width: 40px;
}
.tickets-details .other-time ul.minimize li label span {
    background: none repeat scroll 0 0 transparent;
    border-bottom: 1px dashed;
    color: #1C81BB;
    display: inline;
    font-family: Verdana;
    position: relative;
    text-align: left;
}
.tickets-details .other-time ul.minimize li:last-child {
    background: none repeat scroll 0 0 transparent;
    padding-right: 0;
}
.tickets-details .other-time ul.minimize li.active label {
    background: url("../images/bg-selecte-time.png") no-repeat scroll 0 1px transparent;
}
.tickets-details .other-time ul.minimize li.active label span {
    border: medium none;
    color: #FFFFFF;
}