@charset "UTF-8";
/* CSS Document */
#body-popup {position:fixed; top: 0px; left: 0px; width: 100%; height: 100%; overflow-y: scroll;}
#popupOverlayPhoto {position:fixed; top:0px; left:0px; z-index:1999; background:#08090a; opacity:0.96; height:100%; width:100%;}
#popupPhoto {position:absolute; z-index:2000;}
#photoBox {position: absolute; left: 555px; top: 201px; padding-left: 50px; padding-right: 50px; width: 900px;}
#load {position: absolute; z-index: 1999; width: 54px; height: 55px; left: 905px; top: 431px;}}
#photoBox #imgContent img {position: relative; opacity: 0; display: none; vertical-align: middle;}
#photoBox #imgContent {display: table-cell;
    height: 600px;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
    width: 900px;}
#photoBox .left {background: url("../images/navigation-slide.png") no-repeat scroll left  center transparent;
    cursor: pointer;
    height: 600px;
    left: 0;
    position: absolute;
    top: 0;
    width: 80px;}
#photoBox .right {background: url("../images/navigation-slide.png") no-repeat scroll right center transparent;
    cursor: pointer;
    height: 600px;
    position: absolute;
    right: 0;
    top: 0;
    width: 80px; }