@import "body.css";
@import "trash.css";
@import "ico.css";
@import "btn.css";
@import "filter.css";
@import "tickets.css";
@charset "UTF-8";
.wrapper {
	position: absolute; 
	width: 100%; 
	height: 100%; 
	min-width: 1000px; 
	overflow-y: scroll;	
	overflow-x: hidden;
}
.head { 
	width: 100%;
	min-width: 1000px; 
	height: 38px; 
	background: url(../images/bg-head.png) repeat-x;
	z-index: 998;
	position: relative;
}
.center-block {
	min-width: 1000px;
	max-width: 1390px;
	margin: 0 auto;
	width: 100%; 
	_width: expression( document.body.clientWidth > 1390 ? '1390px' : ( document.body.clientWidth < 1000 ? '1000px' : '100%' ) );
	position: relative;
}
#content {
	padding-top: 35px;
	padding-bottom: 5px;
	margin: 0 auto;
}
/* LOGO */
.head .center-block .logo {
	position: absolute;
	left:32px;
	top:7px;
	width: 122px;
	height: 27px;
	background: url(../images/slice.png) no-repeat 0 0;
	text-indent: -9999px;
	display: block;
}
/* ABOUT COMPANY WITH LOGO */
.head .center-block .about {
	position: absolute;
	display: block;
	text-indent: -9999px;
	width: 76px;
	height: 27px;
	left: 154px;
	top:7px;
	background: url(../images/slice.png) no-repeat -122px 0;
}
/* TELEFON */
.head .center-block .telefon {
	position: absolute;
	top:10px;
	left: 250px;
	width: 145px;
	height: 15px;
}
/*--- SLIDE TURN MODE ---*/
.slide-turn-mode {
	background: url(../images/slide-turn-mode.png) no-repeat 0 0;
	position: absolute;
	width: 553px;
	height: 38px;
	top:0px;
	right: 305px;
}
.slide-turn-mode .switch {
	position: absolute;
	height: 31px;
	top:5px;
	left: 0px;
	z-index: 1;
}
.slide-turn-mode .switch .l {
	background: url(../images/slide-turn-mode.png) no-repeat 0 -78px;
	width:15px;
	height: 31px;
	display: inline-block;
	left: 0px;
	
}
.slide-turn-mode .switch .r {
	background: url(../images/slide-turn-mode.png) no-repeat -131px -78px;
	width:12px;
	height: 31px;
	display: inline-block;
	right: 0px;
}
.slide-turn-mode .switch .c {
	background: url(../images/slide-turn-mode.png) no-repeat 0 -109px;
	width:15px;
	height: 31px;
	display: inline-block;
}
.slide-turn-mode .bg-mask {
	background: url(../images/slide-turn-mode.png) no-repeat 0px -39px;
	position: absolute;	
	top:0px;
	left: 0px;
	width: 553px;
	height: 37px;
	z-index: 2;
}
.slide-turn-mode .planner,.slide-turn-mode .aviatickets,.slide-turn-mode .hotel,.slide-turn-mode .finish-stages {
	z-index: 3;
	color: #2e2e2e;
	position: absolute;
	font-size: 14px;
	text-shadow: 0px 1px 0px #86888C;
	height: 20px;
    padding: 4px 0px;
    top: 6px;
}
.slide-turn-mode .planner {
	padding-left: 25px !important; 
	background: url(../images/slide-turn-mode.png) no-repeat 0px -173px;
	left: 13px;
}
.slide-turn-mode .planner.active {
	background-position: -520px -173px;
}
.slide-turn-mode .aviatickets {
	padding-left: 31px !important; 
	background: url(../images/slide-turn-mode.png) no-repeat 0px -236px;
	left: 167px;
}
.slide-turn-mode .aviatickets.active {
	background-position: -521px -235px;
}
.slide-turn-mode .hotel {
	padding-left: 31px !important; 
	background: url(../images/slide-turn-mode.png) no-repeat 0px -205px;
	left: 305px;
}
.slide-turn-mode .hotel.active {
	background-position: -520px -204px;
}
.slide-turn-mode .finish-stages {
	padding-left: 32px !important; 
	background: url(../images/slide-turn-mode.png) no-repeat 0px -142px;
	left: 416px;
}
.slide-turn-mode .finish-stages.active {
	background-position: -520px -142px;
}
.btn {
	cursor: pointer;
}
.btn a {
	text-decoration: none;
}
.btn a:hover, .btn:hover a {
	text-decoration: none; color: #101010;
}
.active:hover a {
	color: #FFF !important;
}
.active a {
	color: #FFF;
	text-shadow: 0px 1px 0px #0a5783;
}
.active a:hover {
	color: #FFF !important;
}

/* END SLIDE TURN MODE */
/* LOGIN WINDOW */
.login-window {
	position: absolute; top: 0px; right: 0px;
	background: url(../images/bg-head.png) 0px -38px;
	height: 38px; width: 165px;
	color: #000;
}
.login-window a {
	display: block;
	background: url("../images/slice.png") no-repeat scroll -487px -182px transparent;
	height: 50px;
	padding-left: 20px; margin: 10px 0px 0px 10px;
}
.login-window a:hover {
	text-decoration: none;
}
.login-window a span {
	display: inline-block;
	vertical-align: middle;
}
.login-window a span.point {
	background:  url("../images/slice.png") no-repeat scroll -8px -32px transparent;
	width: 6px; height: 4px;
}
/* PANEL */
.panel {
	width: 945px;
	margin: 0 auto;
	padding-bottom: 9px;
	position: relative;
	padding-top: 5px;
	height: 54px;
}
.btn-minimizePanel {
	width: 104px; height: 19px;
	color: #616770;
	font-size: 13px;
	background: url(../images/slice.png) no-repeat 0px -880px;
	position: absolute;
	right: 0px;
	bottom: -19px;
	text-align: center;
	line-height: 15px;
	z-index: 800;
}
.btn-minimizePanel span {
	display: inline-block;
	width: 12px; height: 6px;
	background: url(../images/slice.png) no-repeat -72px -35px;
}
.btn-minimizePanel.active span {
	background-position: -84px -35px;
}
.btn-timeline-and-condition {
	float: left;
    padding-top: 6px;
    width: 76px;
}
.btn-timeline-and-condition .btn-timeline {
	background: url("../images/slice.png") repeat scroll  0 -828px transparent;
    display: block;
    height: 21px;
    padding-top: 3px;
    text-align: center;
    width: 76px;
    color: #636467;
    text-shadow: 0px 1px 0px #0d0e0f;
    
    
}
.btn-timeline-and-condition .btn-timeline.active {
	background-position: -76px -828px;
	color: #FFF;
	text-shadow: none;
	
}
.btn-timeline-and-condition .btn-condition {
	background: url("../images/slice.png") repeat scroll -76px -852px transparent;
    display: block;
    height: 21px;
    padding-top: 3px;
    text-align: center;
    width: 76px;
    color: #636467;
    text-shadow: 0px 1px 0px #0d0e0f;
}
.btn-timeline-and-condition .btn-condition.active {
	background-position: 0px -852px;
    color: #FFF;
	text-shadow: none;	
}
.timeline {
    position: absolute;
    top: 0;
}
.timeline .left-corners {
	background: url("../images/bg-timeline.png") repeat-x scroll 0 -19px transparent;
    bottom: 1px;
    height: 18px;
    left: 18px;
    position: absolute;
    width: 10px;
}
.timeline .right-corners {
	background: url("../images/bg-timeline.png") repeat-x scroll -44px -19px transparent;
    bottom: 1px;
    height: 18px;
    right: 18px;
    position: absolute;
    width: 10px;
}
.timeline .btn-left {
	background: url("../images/bg-timeline.png") repeat-x scroll -0px -38px transparent;
	bottom: 1px;
    height: 18px;
    left: 0px;
    position: absolute;
    width: 10px;
    cursor: pointer;
}
.timeline .btn-right {
	background: url("../images/bg-timeline.png") repeat-x scroll -44px -38px transparent;
	bottom: 1px;
    height: 18px;
    right: 0px;
    position: absolute;
    width: 10px;	
    cursor: pointer;
}
.timedatelineOverflow {
	height: 61px; overflow: hidden; width: 735px; 	margin-left: 28px;
	margin-right: 28px;
}

.timedateline {
	height: 61px;

}
.timedateline li {
	float: left;
	background: url(../images/hr-timeline.png) no-repeat right 0px;
	width: 32px;
	text-align: center;
	color: #7b7c7f;
	text-shadow: 0px 1px 0px #2c3038;
	height: 61px;
	position: relative;
}

.timedateline li .date {
	position: absolute; bottom: 0px; left: 0px; text-align: center; width: 32px; height: 18px; padding-top: 1px;
	background: url(../images/bg-timeline.png) repeat-x 0 0;
	z-index: 2;
}
.timedateline li .trip-fly {
	width: 24px; border: 2px solid #133950; height: 6px;
	border-radius: 10px;
	box-shadow: 0px 0px 20px #1383c4;
	background: url(../images/bg-trip-fly.png);
	position: absolute;
	top:11px;
	z-index: 1;
	left: 2px;
}
.timedateline li .trip-hotel {
	width: 24px; border: 2px solid #452617; height: 6px;
	border-radius: 10px;
	box-shadow: 0px 0px 20px #f9610e;
	background: url(../images/bg-trip-hotel.png);
	position: absolute;
	top:27px;
	z-index: 1;
	left: 2px;
}
.condition {
    position: absolute;
    top: 0;
    padding-top: 17px;
    width: 839px;
}
.condition .whence, .condition  .where {
	width: 261px; height: 36px;
	background: url(../images/slice.png) no-repeat 0px -904px;
	display: inline-block;
	position: relative;
	float: left;
	
}
.condition .whence .input, .condition  .where .input {
	background: none; width: 251px; padding-left: 5px; padding-right: 5px; height: 36px; font-size: 21px; border: none; margin-top: -1px;
}
.condition .whence.date, .condition  .where.date {
	background-position: 0px -941px;
}
.condition .whence.date .input, .condition  .where.date .input {
	width: 213px;
}
.condition .whence .day, .condition  .where .day {
	display: none;
}
.condition .whence.date .day, .condition  .where.date .day {
	color: #FFFFFF;
    float: right;
    font-size: 11px;
    line-height: 10px;
    padding-top: 7px;
    text-align: center;
    text-shadow: 0 1px 0 #0A5783;
    width: 34px;
    display: block;
}
.condition .whence.date .day .f17, .condition  .where.date .day .f17 {
	font-family: Verdana;
    font-weight: bold;
}
.tumblr {
	display: inline-block;
	width: 74px;
	height: 37px;
	background: url(../images/slice.png) no-repeat 0px -1014px;
	position: relative;
	float: left;
	margin: 0 10px;
}
.tumblr .one {
	width: 37px; height: 37px;
	background: url(../images/slice.png) no-repeat -37px -1086px;
	position: absolute; top: 0px; left: 0px; z-index: 2;
	cursor: pointer;
}
.tumblr .two {
	width: 37px; height: 37px;
	background: url(../images/slice.png) no-repeat -37px -1050px;
	position: absolute; top: 0px; right: 0px; z-index: 2;
	cursor: pointer;
}
.tumblr .one.active {
	background-position: 0px -1086px; 
}
.tumblr .two.active {
	background-position: 0px -1050px; 
}
.tumblr  .switch {
	background: url("../images/slice.png") no-repeat scroll -74px -1014px transparent;
    height: 37px;
    left: -1px;
    position: absolute;
    top: 0;
    width: 39px;
    z-index: 1;
}
.slide-tmblr {
	height: 68px;
    overflow: hidden;
    width: 839px;
    position: absolute;
    left: 106px;
    top: 0px;
}
.how-many-man {
	background: url("../images/slice.png") no-repeat scroll 0 -1125px transparent;
    float: left;
    height: 68px;
    margin-left: 20px;
    margin-top: -17px;
    position: relative;
}
.how-many-man .btn {
	width: 16px; height: 68px;
	background: url("../images/slice.png") no-repeat scroll right -1055px transparent;
	float: right;
	margin-left: 8px;
}
.how-many-man .btn.active {
	background-position: right -1125px;
}
.how-many-man .content {
	float: left;
	padding-left: 8px;
}
.how-many-man .popup {
	position: absolute; bottom: -86px; right: 0px;
	background: url(../images/bg-how-much.png) repeat-x left bottom #f7f9fb;
	width: 194px; height: 85px;
	border-right: 1px solid #b7b8bc;
	border-bottom: 1px solid #76777a;
	border-left: 1px solid #b7b8bc;
	display: none;
	z-index: 900;
}
.how-many-man .popup.active {
	display: block;
}
.how-many-man .man {
	width: 21px; height: 68px; float: left;
	background: url("../images/bg-man.png") no-repeat scroll center center transparent;
}
.how-many-man .child {
	width: 21px; height: 68px; float: left;
	background: url("../images/bg-child.png") no-repeat scroll center center transparent;
}
.how-many-man  .popup .adults, .how-many-man  .popup .childs, .how-many-man  .popup .small-childs {
	float: left;
	width: 48px; font-size: 11px; color: #272728; text-shadow: 0px 1px 0px #FFF; line-height: 13px;
	margin-left: 13px;
	padding-top: 13px;
}
.how-many-man  .popup .adults input, .how-many-man  .popup .childs input, .how-many-man  .popup .small-childs input  {
	background: url("../images/slice.png") no-repeat scroll -264px -941px transparent;
    border: medium none;
    color: #272729;
    font-size: 28px;
    height: 31px;
    text-align: center;
    width: 48px;
}
.how-many-man  .popup .adults input.active, .how-many-man  .popup .childs input.active, .how-many-man  .popup .small-childs input.active {
	background-position: -264px -904px;
}
.btn-find {
	background: url("../images/slice.png") no-repeat scroll -122px -1014px transparent;
	float: right;
	width: 83px; height: 47px;
	text-indent: -9999px;
	display: block;
	margin-top: -6px;
	cursor: pointer;
}

/* END PANEL */
/* OTHER BLOCK */
.main-block {
	min-width: 585px;
	margin: 0 auto;
}
.filter-block {
	position: absolute;
	top: 0px;
	right: 0px;
	min-width: 160px;
	height: 100%;
}
/* END */
/* LEFT BLOCK */
.left-block {
	position: absolute; 
	top:0px; left: 0px; 
	min-width: 245px; height: 100%;
	background: #f4f7f9;
	z-index: 100;	
}
.left-content {
	margin-top: 35px;
	margin-left: 32px;
	color: #1d222b;
}
.my-trip-list {
	
}
.my-trip-list .items {
	background: url(../images/bg-line.png) center -1px no-repeat;
}
.my-trip-list .items a {
	display: block;
	background: url(../images/slice.png) no-repeat 43px -141px;
	height: 58px;
	position: relative;
	overflow: hidden;
	color: #2e333b;
	font-size: 13px;
	margin-left: -32px;
    margin-right: -10px;
    padding-left: 32px;
}
.my-trip-list .items a:hover {
	text-decoration: none !important;
}
.my-trip-list .items a.first {
	background-position: 43px -85px;
}
.my-trip-list .items a.last {
	background-position: 43px -199px;
}
.my-trip-list .items a .keys {
	float: left;
}
.my-trip-list .items a.fly .keys {
	display: block;
	width: 35px;
	height: 58px;
	background: url(../images/slice.png) no-repeat 0px -318px;
}
.my-trip-list .items a.hotel .keys {
	display: block;
	width: 35px;
	height: 58px;
	background: url(../images/slice.png) no-repeat 0px -260px;
}
.my-trip-list .items a.end .keys {
	display: block;
	width: 35px;
	height: 58px;
	background: url(../images/slice.png) no-repeat 0px -376px;
}
.my-trip-list .items a .path {
	float: left;
	height: 46px;
	padding-top: 12px;
	width: 150px;
	position: relative;
}
.my-trip-list .items a .path .where {
	font-weight: bold;
	white-space: nowrap;
}
.my-trip-list .items a .path .time {
	color: #4b525c;
	white-space: nowrap;
}
.my-trip-list .items a .path .time .rub {
	background-position: 0 0;
	width: 9px;
	height: 10px;
}
.my-trip-list .items a.end .path {
	font-size: 18px;
	color: #1d222b;
	padding-top: 20px;
	height: 39px;
}
.my-trip-list .items a .path .alpha {
	background: url(../images/gradient-left.png) repeat-y; width: 30px;
	position: absolute; top: 12px; right: 0px; height: 45px;
}
.my-trip-list .items a.active .path .alpha {
	background: url(../images/gradient-left-hover.png) repeat-y; width: 30px;
	position: absolute; top: 12px; right: 0px; height: 44px;
}
.my-trip-list .items a .date {
	font-size: 11px;
	line-height: 10px;
	position: absolute;
	top:13px;
	right: 54px;
	padding-top: 6px;
	color: #FFF;
}
.my-trip-list .items a .date .day {
	text-align: center;
	width: 37px;
	float: left;
}
.my-trip-list .items a .date .f17 {
	font-family: Verdana;
	font-weight: bold;
}
.my-trip-list .items a .date.blue-one {
	width: 37px;
	height: 30px;
	background: url(../images/slice.png) no-repeat 0 -440px;
	text-shadow: 0px 1px 0px #0a5783;
}
.my-trip-list .items a .date.orange-two {
	width: 70px;
	height: 30px;
	background: url(../images/slice.png) no-repeat -37px -440px;
	text-shadow: 0px 1px 0px #f55407;
	right: 20px;
}
.my-trip-list .items a .date.orange-two .day {
	width: 35px !important;
}
.my-trip-list .items a .date.blue-two {
	width: 70px;
	height: 30px;
	background: url(../images/slice.png) no-repeat -106px -440px;
	text-shadow: 0px 1px 0px #0a5783;
	right: 20px;
}
.my-trip-list .items a .date.blue-two .day {
	width: 35px !important;
}
.my-trip-list .items a .date.orange-one {
	width: 37px;
	height: 30px;
	background: url(../images/slice.png) no-repeat -175px -440px;
	text-shadow: 0px 1px 0px #f55407;
}
.my-trip-list .items .active {
	background: url("../images/slice.png") no-repeat scroll right -27px transparent;
    margin-left: -32px;
    margin-right: -10px;
    padding-left: 32px;
}
.finish-result {
	width: 100%;
	font-size: 11px;
	line-height: 20px;	
}
.finish-result .txt {
	color: #4b525c;
	width: 60%;
}
.finish-result .price {
	width: 40%;
	text-align: right;
	padding-right: 11px;
	color: #1d222b;
}
/* SUB HEAD MENU */
.sub-head {
	position: relative;
	padding-bottom: 43px;
	margin-bottom: -43px;
	background: url(../images/bg-head.png) repeat-x left bottom;
	width: 100%;
	min-width: 1000px;
}
/* voyasha-text */
.voyasha-text {
	position: relative;
	margin-top: 18px;	
}
.voyasha-text .ico-voyasha {
	position: absolute;
	top: 10px;
}
.voyasha-text .inline-block {
	width: 195px;
	margin-left: 55px;
}
.voyasha-slider {
	margin-top: 30px; margin-bottom: 25px;
}
/* CONTENT */



/*--- prices-of-3days ---*/
.prices-of-3days {
	width: 318px;
	float: right;
	color: #262930;
	margin-left: 20px;
}
.prices-of-3days .ticket {
	position: relative;
	background: #f4f7f9;
	padding: 15px 20px 5px 20px;
}
.prices-of-3days .ticket .lt {
	background: url(../images/bg-prices-of-3days.png) no-repeat 0 0px;
	position: absolute; top: 0px; left: 0px;
	width: 8px; height: 8px;
	display: block;
	z-index: 3;
	
}
.prices-of-3days .ticket .rt {
	background: url(../images/bg-prices-of-3days.png) no-repeat -8px 0px;
	position: absolute; top: 0px; right: 0px;
	width: 8px; height: 8px;
	display: block;
	z-index: 3;
}

.prices-of-3days .ticket .lv {
	background: url(../images/bg-prices-of-3days.png) no-repeat 0px bottom;
	position: absolute; top: 0px; left: 0px;
	width: 8px; height: 100%;
	display: block;
	z-index: 2;
}
.prices-of-3days .ticket .rv {
	background: url(../images/bg-prices-of-3days.png) no-repeat -8px bottom;
	position: absolute; top: 0px; right: 0px;
	width: 8px; height: 100%;
	display: block;
	z-index: 2;
}
.prices-of-3days .ticket .th {
	background: url(../images/bg-prices-of-3days-hor.png) repeat-x 0px 0px;
	position: absolute; top: 0px; left: 0px;
	width: 100%; height: 8px;
	display: block;
	z-index: 1;
}
.prices-of-3days .ticket .bh {
	background: url(../images/bg-prices-of-3days-hor.png) repeat-x 0px -8px;
	position: absolute; bottom: 0px; left: 0px;
	width: 100%; height: 8px;
	display: block;
	z-index: 1;
}
.prices-of-3days .total-td {
	float: left;
	font-size: 14px;
	font-weight: bold;
	padding-top: 2px;
	position: relative;
	z-index: 205;
}
.prices-of-3days .look-td {
	float: right;
	position: relative;
	z-index: 205;
}
.prices-of-3days .one-way {
	position: relative;
}
.prices-of-3days .two-way {
	position: relative;
}
.cena {
	margin-top: 15px;
}
.schedule-of-prices { height: 165px;
	margin: -13px -20px 0px -19px;
	position: relative; z-index: 102;
	border-bottom: 1px solid #acafb0;
	z-index: 100; position: relative;
}
.prices-of-3days .two-way .schedule-of-prices {
	margin: 0px -20px 0px -19px;
}
.schedule-of-prices li {
	width: 45px;
	float: left;
	height: 165px;
	text-align: center;
	position: relative;
	font-family: Verdana;
	cursor: pointer;
	z-index: 100;
}
.schedule-of-prices li:hover {
	background: #dcdfe1;
}
.schedule-of-prices li .price {
	color: #6D6F72;
    font-size: 9px;
    left: 0;
    margin: 0;
    position: absolute;
    text-align: center;
    width: 45px;
}
.schedule-of-prices li .price.margin {
	margin: 0 -3px;
}
.schedule-of-prices li .chart {
	width: inherit; height: 100px;
	background: url(../images/bg-schedule-of-prices.png) no-repeat center 0px;
	position: absolute;
	bottom: 45px; left: 0px;
	border-bottom: 1px solid #DDDDDD;
}
.prices-of-3days .ticket .month {
	height: 22px;
	font-family: Verdana; font-size: 11px; font-weight: bold;
	position: absolute;
	bottom: 26px; left: -8px;
	z-index: 103;
	cursor: default;
} 
.schedule-of-prices li .week {
	font-size: 11px;
	position: absolute; bottom:19px;
	width: inherit;
	text-align: center; color: #6d6f72;
}
.schedule-of-prices li .date {
	font-size: 16px;
	position: absolute; bottom: 4px;
	width: inherit;
	text-align: center; color: #262930;
}
.schedule-of-prices li.active {
	background: #dcdfe1;
}
.schedule-of-prices li.active .price, .schedule-of-prices li.active .week, .schedule-of-prices li.active .date {
	color: #dc500a;
}
.schedule-of-prices li.active .chart {
	background: url(../images/bg-schedule-of-prices-hover.png) no-repeat 0px 0px;
}
.prices-of-3days .all-price {
	display: inline-block;
	font-size: 26px; font-weight: bold;
	vertical-align: middle; margin-left: 5px;
}
/*---- filter-content -----*/
.filter-content {
	margin-top: 35px;
	color: #2e333b;
	margin-right: 15px;
	margin-left: 5px;
}
.filter-content a {
	color: #1c81bb;
	border-bottom: 1px dashed;
}
.filter-content a.clean {
	display: inline-block;
    font-size: 11px;
    line-height: 13px;
    vertical-align: middle;
}
.div-filter {
	background: url(../images/shadow-filter.png) no-repeat left 0px;
	padding-top: 21px; margin-top: 14px;
	line-height: 25px;
}
.all-list {
	padding-left: 2px;
	font-size: 11px;
}
.ticket-content {
	color: #3E4C52;
    margin: 0 auto 60px;
    position: relative;
}
.ticket-content.bg-none {
	margin-top: 0px;
	padding-top: 0px;
}
.ticket-content .order-div {
	letter-spacing: -0.03em;
	float: right;
}
.ticket-content .order-div a {
	margin-left: 5px;
	color: #1C81BB;
	border-bottom: 1px dashed;
}

.head-content {
	width: 695px;
	margin: 35px auto 0;
	position: relative;
}
.recomended-content {
	background: url(../images/shadow-ticket.png) no-repeat center bottom;
}
.hotels { background: none !important}
.hotels  h1 {text-shadow: #FFF 0px 1px 0px; margin-bottom: 20px; letter-spacing: -0.05em;}

.minimize-rcomended {
	position: absolute;
	width: 176px; height: 19px;
	overflow: hidden;
	bottom: -19px; 
	right: 120px;
	z-index: 800;
}
.minimize-rcomended .btn-minimizeRecomended {
    background: url("../images/slice.png") no-repeat scroll 0 -807px transparent;
    height: 19px;
    padding-left: 28px;
    position: absolute;
    right: 0;
    width: 148px;
    z-index: 400;
    top: -19px;
    cursor: pointer;
}
.hotel-details {
	width: 782px;
}
#content > .title, .hotel-details > .title {
	padding:0px 45px 0px 0px;
	position: relative;
}
#content > .title h1, .hotel-details > .title h1 {
	float: left;
}
#content > .title .rating, .hotel-details > .title .rating{
    color: #202328;
    font-size: 11px;
    float: right;
    text-align: right;
}
#content > .title .rating .value, .hotel-details > .title .rating .value {
    display: inline-block;
    font-size: 20px;
}
#content > .title .rating span.text, .hotel-details > .title .rating span.text {
    display: inline-block;
    line-height: 9px;
    margin-left: 5px;
    text-align: left;
}
.stars {
	display: inline-block; width: 87px; height: 16px;
	background: url(../images/slice.png) no-repeat -0px -768px;
	vertical-align: top;
	margin-left: 0px;
	overflow:hidden;
	margin-top: 2px;
}
.stars.five {
	width: 87px;
}
.stars.four {
	width: 71px;
}
.stars.three {
	width: 54px;
}
.stars.two {
	width: 36px;
}
.stars.one {
	width: 18px;
}
.stars-select {
	display: inline-block; width: 89px; height: 16px;
	background: url(../images/slice.png) no-repeat -127px -768px;
	vertical-align: top;
	margin-left: 0px;
	overflow:hidden;
	margin-top: 2px;
}
.stars-select  .none-select {
	 width: 89px; height: 16px;
	 background: url(../images/slice.png) no-repeat -0px -768px;
}
.stars-select.five .none-select  {
	width: 87px;
}
.stars-select.four .none-select {
	width: 71px;
}
.stars-select.three .none-select {
	width: 54px;
}
.stars-select.two .none-select {
	width: 36px;
}
.stars-select.one .none-select {
	width: 18px;
}
.stars-li {
	overflow: hidden;
	height: 17px;
    margin-top: -25px;
    padding-top: 23px; 
    position: relative; 
    z-index: 2;}
.stars-li li {
	float: left;
    height: 17px;
    margin-top: -25px;
    padding-top: 23px;
    text-align: center;
    width: 18px;
}
.stars-li li input {
	display: none;
}
.stars-li li label {
	height: 30px;
	display: block;
	width: 18px;
	text-align: center;
	margin-top: -25px;
    padding-top: 25px;
    cursor: pointer;
}
#content > .title > .stars, .hotel-details > .title > .stars {
	position: absolute; bottom: -7px; left: 0px;
}
#content .place-buy, .hotel-details .place-buy {
	overflow: hidden;
	padding-left: 0px;
	padding-right: 4px;
}
#content .place-buy > .street, .hotel-details .place-buy > .street {
	color: #292D34;
    float: left;
    font-size: 14px;
    line-height: 20px;
    margin-right: 30px;
    margin-top: 11px;
}
.hotel-details .place-buy > .street {
	width: 285px;
}
#content .place-buy > .book, .hotel-details .place-buy > .book {
	float: right;
	color: #202328;
}
#content .place-buy > .book .cost, .hotel-details .place-buy > .book .cost {
	font-size: 22px;
}
#content .place-buy > .book .how-cost, .hotel-details .place-buy > .book .how-cost {
	float: left;
	margin-top: 10px;
}
#content .place-buy > .book .btn-cost, .hotel-details .place-buy > .book .btn-cost {
	margin-left: 10px;
}
.hotel-details .description {
	overflow: hidden;
}
.hotel-details .description .left {
	color: #4b4b4f;
}
.hotel-details .description .left .right {
	margin-left: 20px;
}
.hotel-details .description .text {
	overflow: visible !important;
}
.description > .left > .read-more {
	border-bottom: 1px dashed;
    color: #2174A3;
    display: inline-block;
    line-height: 15px;
    margin-bottom: 14px;
}
.hotel-details .description .left .text {
	color: #1a1b1e;
	line-height: 20px;
	margin-bottom: 0px;
}
.hotel-details .description .right {
	color: #5D5F63;
    float: right;
    width: 312px;
}
.hotel-details .description .right .map-hotel {
	width: 310px;
	height: 190px;
	border: 1px solid #c7c7c7;
	margin-bottom: 3px;
}
.tab .map-big {
	margin-top: 15px;
	height: 363px;
}
.tab .photo-slide-hotel {
	margin-left: -21px;
	height: 150px;
	width: 822px;margin-top: 15px;
	margin-bottom: 15px;
}


.tmblr {
	float: left;
	margin-top: 11px;
}
.tmblr li {
	float: left;
	width: 91px;
	text-align: center;
	height: 24px;
	color: #42464b;
	line-height: 22px;
	margin-right: 5px;
}
.tmblr li .ico-descr, .tmblr li .ico-see-map {
	margin-right: 2px;
	vertical-align: middle;
}
.tmblr li a {
	border-bottom: 1px dashed;
}
.tmblr li.active {
	background: url(../images/tmblr-hotel.png) no-repeat 0 0;
}
.tmblr li.active .ico-descr {
	background-position: 0px -32px;
}
.tmblr li.active .ico-see-map {
	background-position: 0px -11px;
}
.tmblr li.active a {
	color: #292b2e;
	text-shadow: 0px 1px 0px #ffffff;
	border-bottom: none;
}
.tmblr li:hover a, .tmblr li a:hover, .tmblr li.active a:hover  {
	color: #292b2e !important;
}

.descr {
	background: #FFF;
	padding: 8px;
	border-radius: 6px;
	box-shadow: 1px 2px 0px 0px rgba(0, 1, 1, 0.2);
	-moz-box-shadow: 1px 2px 0px 0px rgba(0, 1, 1, 0.2); /* Для Firefox */
    -webkit-box-shadow: 1px 2px 0px 0px rgba(0, 1, 1, 0.2); /* Для Safari и Chrome */
	color: #1a1b1e;
	margin-top: 18px;
	overflow: hidden;
	margin-bottom: 20px;
	margin-left: -11px;
}
.descr > .left {
	float: left;
	width: 100%;
} 
.photo-slide-hotel {
	font-size: 11px;
	line-height: 16px;
	color: #8f9199;
	margin-bottom: 15px;
	width: 100%;
	overflow: hidden;
	height: 170px;
}

.descr > .left .descr-text {
	padding-left: 3px;
	width: 100%;
}
.descr > .left .descr-text  a {
	color: #2174a3;
	border-bottom: 1px dashed;
}
.descr > .left .descr-text .text {
	height: 54px;
}
.descr > .left .descr-text h3 {
	display: inline-block;
	margin-right: 10px;
}
.descr > .left .right {
	float: right;
	width: 312px;
	color: #5d5f63;
	margin-bottom: 5px;
	margin-left: 30px;
}
.descr .right .map-hotel {
	width: 310px;
	height: 259px;
	border: 1px solid #c7c7c7;
	margin-bottom: 3px;
}
.map-big {
	width: 100%;
	height: 489px;
	overflow: hidden;
	border: 1px solid #c7c7c7;
	margin-bottom: 3px;
}
.service-in-hotel {
	margin-bottom: 20px;
	padding-left: 0px;
}
.service-in-room {
	margin-bottom: 20px;
	padding-left: 0px;
}
.service-in-hotel ul, .service-in-room ul {
	overflow: hidden;
	margin-bottom: -1px;
}
.service-in-hotel ul li, .service-in-room ul li {
	border-bottom: 1px dotted;
    color: #4B4B4F;
    float: left;
    line-height: 20px;
    margin-bottom: -1px;
    margin-right: 5%;
    padding-bottom: 3px;
    padding-top: 3px;
    width: 45%;
}
.service-in-hotel ul li .ico-wi-fi, 
.service-in-hotel ul li .ico-glass, 
.service-in-hotel ul li .ico-dog,
.service-in-room ul li .ico-wi-fi, 
.service-in-room ul li .ico-glass, 
.service-in-room ul li .ico-dog  {
	margin-right: 7px; vertical-align: middle;
}
.info-trip {
	padding-left: 0px;
	background: url("../images/shadow-ticket.png") no-repeat scroll center top transparent;
	padding-top: 30px;
}
.info-trip .date-trip {
	font-size: 15px;
	color: #1d222b;
	line-height: 22px;
	margin: 0px 0px 7px 0px;
}
.info-trip h2 {
	color: #1d222b;
	font-size: 24px;
	text-shadow: 0px 1px 0px #FFF;
	line-height: 22px;
	margin-bottom: 18px;
}
.info-trip h3 {
	color: #4b525c;
	font-size: 18px;
	margin: 0px 0px 7px 0px;
	text-shadow: 0px 1px 0px #FFF;
	line-height: 18px;
	margin-bottom: 13px;
}
.block-trip {
	background: #FFF;
	padding: 10px;
	border-radius: 6px;
	box-shadow: 1px 2px 0px 0px rgba(0, 1, 1, 0.2);
	-moz-box-shadow: 1px 2px 0px 0px rgba(0, 1, 1, 0.2); /* Для Firefox */
    -webkit-box-shadow: 1px 2px 0px 0px rgba(0, 1, 1, 0.2); /* Для Safari и Chrome */
    margin-bottom: 25px;
    color: #535353;
}
.block-trip table {
	width: 100%;
}
.block-trip table .button {
	vertical-align: middle;
	width: 250px;
	text-align: right;
}
.button .btn-cost .cost {
	font-size: 24px;
}
.button > .btn-cost {
	padding-left: 6px;
	padding-right: 10px;
	width: 215px;
}
.button > .btn-cost .text {
    display: block;
    float: left;
    margin-right: 3px;
    margin-top: -1px;
    position: relative;
    z-index: 100;
}
.block-trip table ul li {
	margin-bottom: 1px;
	margin-top: 3px;
}
.block-trip table .name ul li span.text {
	color: #2174a3;
	text-shadow: 0px 1px 0px #FFF;
	font-weight: bold;
	font-size: 16px;
	margin-right: 10px;	
}
.block-trip table .name a {
	border-bottom: 1px dashed;
	font-size: 11px;
	line-height: 16px;
}
.block-trip table .name div.items {
	border-right: 1px solid #b6bcc4;
	border-bottom: 1px solid #b6bcc4;
	padding-bottom: 7px;
	padding-left: 10px;
	margin-left: -10px;
	padding-top: 15px;
	margin-top: -10px;
	position: relative;
}
.block-trip table .name div.items:last-child {
	margin-bottom: -10px; border-bottom: none;
}
.block-trip table .name div.items ul li table {
	width: 100%;
}
.block-trip table .name div.items ul li table .change {
	width: 55px;
	vertical-align: middle;
	text-align: center;
	padding-right: 11px;
}
.change-people {
	width: 53px; height: 24px;
	overflow: hidden;
}
.change-people .minus {
	float: left;
	cursor: pointer;
	width: 14px;
	height: 24px;
	background: url(../images/slice.png) no-repeat 0px -1200px;
}
.change-people .value {
	background: url(../images/slice.png) no-repeat -13px -1200px;
	width: 24px;
	height: 24px;
	float: left;
	overflow: hidden;
}
.change-people .value input {
	border: none;
	text-align: center;
	font-size: 14px;
	line-height: 16px;
	color: #0f0f10;
	font-weight: bold;
	width: 23px;
	background: none;
}

@-moz-document url-prefix() {
	.change-people .value input {
		border: none;
		text-align: center;
		font-size: 15px;
		line-height: 20px;
		color: #0f0f10;
		font-weight: bold;
		width: 26px;
		background: none;
	}
}
.change-people .plus {
	float: left;
	cursor: pointer;
	width: 14px;
	height: 24px;
	background: url(../images/slice.png) no-repeat -37px -1200px;
}

.slide {
	overflow: hidden;
	width: 100%;
	height: 150px;
	position: relative;
	background:#d8d9de;
}
.slide ul {
	width: 100%;
}
.slide ul li {
	float: left;
	margin-right: 1px;
}
.slide ul li img {
	height: 150px;
}
.slide .left-navi {
	position: absolute; top:0px; left: 0px;
	width: 80px; height: 150px; cursor: pointer;
	background: url(../images/navigation-slide.png) no-repeat left 0;
	z-index: 900;
}
.slide .right-navi {
	position: absolute; top:0px; right: 0px;
	width: 80px; height: 150px; cursor: pointer;
	background: url(../images/navigation-slide.png) no-repeat right 0;
	z-index: 900;
}
.slide .left-opacity {
	position: absolute; top:0px; left: 0px;
	width: 40px; height: 150px;
	z-index: 800;
}
.slide .right-opacity {
	position: absolute; top:0px; right: 0px;
	width: 40px; height: 150px;
	z-index: 800;
}
input.hotel-input {
	border: none; background: url(../images/bg-search-hotel-filter.png) no-repeat 0px 1px; width: 183px; height: 27px; padding-left: 5px; font-size: 13px;
}