#header .center-block{width:1000px;}#header .center-block .logo{left:12px;}
#header .center-block .about{left:134px;}
#header .center-block .telefon{left:220px;}
#header .center-block .slide-turn-mode{right:165px;}
.wrapper>.center-block{width:1000px;}.wrapper>.center-block .left-block{width:220px;}
.wrapper>.center-block .main-block{width:585px;}.wrapper>.center-block .main-block #content{width:530px;}
.wrapper>.center-block .main-block .filter-block{width:200px;}
