html,body{height:100%;margin:0px;padding:0px 0px 0px 0px;}
body{width:100%;height:100%;background:url("/themes/v2/images/BG_NEW.png");color:#1d222b;font-family:Arial,sans-serif;font-size:12px;position:relative;}
a{color:inherit;}
input,select,button{margin-left:0px;padding:0px;}
h1{color:#1d222b;font-size:22px;text-shadow:0px 1px 0px #acb0b4;margin-bottom:12px;letter-spacing:0.001em;}
h3{font-size:18px;text-shadow:0px 1px 0px #acb0b4;color:#1d222b;margin-bottom:10px;}
h4{color:#1d222b;font-size:15px;margin-bottom:6px;text-shadow:0px 1px 0px #ffffff;}
h1.title{color:#ffffff;border-radius:20px;-moz-border-radius:20px;-webkit-border-radius:20px;font-size:24px;background:none repeat scroll 0 0 rgba(27, 29, 32, 0.7);display:inline-block;font-weight:normal;height:40px;left:26px;line-height:40px;padding:0 10px;position:absolute;text-shadow:none;top:-60px;white-space:nowrap;}
h1.title img{margin-bottom:-8px;margin-right:-10px;margin-top:-11px;vertical-align:middle;}
