html, body {height: 100%; margin: 0px;}
body {
	width: 100%; height: 100%; 
	background: url(../images/BG_NEW.png); 
	padding: 0px 0px 0px 0px; 
	color: #FFF; 
	font-size: 12px; font-family: Arial;
	margin: 0px;
	position: relative;
}
a {
	color: inherit;
}

h1 {
	color: #1d222b;
	font-size: 22px; text-shadow: #acb0b4 0px 1px 0px; 
	margin-bottom: 12px;	
	letter-spacing: 0.001em;
}
h1.title {
    background: none repeat scroll 0 0 rgba(27, 29, 32, 0.7);
    border-radius: 20px 20px 20px 20px;
    color: #FFFFFF;
    display: inline-block;
    font-size: 24px;
    font-weight: normal;
    height: 31px;
    left: 26px;
    padding: 9px 10px 0;
    position: absolute;
    text-shadow: none;
    top: -60px;
    white-space: nowrap;
}
h1.title img {
    margin-bottom: -8px;
    margin-right: -10px;
    margin-top: -9px;
    vertical-align: middle;
}
.main-block h1 {text-shadow: #FFF 0px 1px 0px; margin-bottom: 20px; letter-spacing: -0.05em; line-height: 26px; margin-top: -4px;}
.ticket-content h2 {
	font-size: 18px; text-shadow: 0px 1px 0px #FFF;
	color: #4b525c; margin-bottom: 20px;
	letter-spacing: -0.05em;
	float: left;
}
h3 {
	font-size: 18px; text-shadow: #acb0b4 0px 1px 0px;
	color: #1d222b;
	margin-bottom: 10px;
}
h3.calendarTitle {
	color: #202328;
	font-size: 24px;
	font-family: Georgia;
	font-weight: bold;
	font-style: italic;
}
h4 {
	color: #1D222B;
    font-size: 15px;
    margin-bottom: 6px;
    text-shadow: 0 1px 0 #FFFFFF;
}
h4 a {
	font-size: 12px; text-shadow: none;
}
input, select, button {
	margin-left: -0px;
}
.recommended-ticket h3, .prices-of-3days h3 {color: #4b525c; text-shadow: #FFF 0px 1px 0px; margin-bottom: 22px;}
