
.btn-find {
    background: url("../images/slice.png") no-repeat scroll -122px -1014px transparent;
    cursor: pointer;
    display: inline-block;
    height: 47px;
    text-indent: -9999px;
    vertical-align: middle;
    width: 83px;
}
.btn-find:hover {
    background-position: -122px -1061px;
}
.btn-find.inactive {
    background-position: -205px -1014px;
    cursor: default;
}
.btnDeleteTrip {
    background: url("../images/ico-my-trip.png") no-repeat scroll -7px -605px transparent;
    cursor: pointer;
    display: inline-block;
    height: 11px;
    text-indent: -9999px;
    vertical-align: middle;
    width: 11px;
}
.btnDeleteTrip:hover {
    background-position: -7px -663px;
}
.btnChangeStart {
    background: url("../images/btnTripAll.png") no-repeat scroll 0 0 transparent;
    color: #FFFFFF;
    display: inline-block;
    font-size: 12px;
    height: 22px;
    padding-top: 2px;
    text-align: center;
    text-shadow: 0 1px 0 #35383C;
    vertical-align: text-top;
    width: 105px;
}
.btnGoBuy {
    background: url("../images/slice.png") repeat scroll 0 -1518px transparent;
    display: inline-block;
    height: 40px;
    margin-left: 30px;
    margin-top: -6px;
    position: relative;
    text-indent: -9999px;
    vertical-align: middle;
    width: 193px;
}