.btn-selecte {
    background: url("../images/slice.png") no-repeat scroll 0 -534px transparent;
    color: #FFFFFF;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    height: 27px;
    padding: 10px 0 0 14px;
    text-shadow: 0 1px 0 #0B5B88;
    width: 190px;
}
.btn-selecte .price {
    margin-left: 8px;
}
.btn-selecte .price, .btn-selecte .rur {
    font-size: 26px;
    vertical-align: top;
}
.btn-selecte .rur {
    display: inline-block;
    margin-left: 5px;
    margin-top: -2px;
}
.btn-order {
    background: url("../images/slice.png") no-repeat scroll -211px -534px transparent;
    color: #FFFFFF;
    display: block;
    height: 30px;
    margin-bottom: 7px;
    margin-top: 5px;
    padding-left: 2px;
    padding-right: 10px;
    padding-top: 9px;
    text-align: center;
    text-shadow: 0 1px 0 #850606;
    width: 143px;
}
.btn-order span {
    display: inline-block;
    vertical-align: middle;
}
.btn-order .cost {
    font-size: 26px;
    font-weight: bold;
    margin-left: 0;
    margin-right: 5px;
}
.btn-order .rur {
    height: 21px;
}
.btn-order:hover {
    background: url("../images/slice.png") no-repeat scroll -211px -573px transparent;
    text-decoration: none;
}
.btn-look {
    background: url("../images/slice.png") no-repeat scroll 0 -612px transparent;
    cursor: pointer;
    display: inline-block;
    height: 26px;
    text-indent: -9999px;
    width: 117px;
}
.btn-cost {
    background: url("../images/btn.png") no-repeat scroll right 0px transparent;
    color: #FFFFFF;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    height: 26px;
    line-height: 16px !important;
    margin-left: 1px;
    min-width: 90px;
    padding: 11px 5px 0 0;
    position: relative;
    text-align: center;
    text-shadow: 0 1px 0 #0B5B88;
}

.btn-cost.hotel {
    background-position: right -74px;
}
.btn-cost.hotel:hover {
    background-position: right -111px;
    color: #FFFFFF;
}
.btn-cost.hotel .l {
    background-position: left -74px;
}
.btn-cost.hotel:hover .l {
    background-position: left -111px;
}
.btn-cost:hover {
    background-position: right -37px;
    color: #FFFFFF !important;
}
.btn-cost .l {
    background: url("../images/btn.png") no-repeat scroll left 0px transparent;
    display: block;
    height: 37px;
    left: -3px;
    position: absolute;
    top: 0;
    width: 10px;
}
.btn-cost:hover .l {
    background-position: left -37px;
}
.btn-cost .price, .btn-cost .rur {
    font-size: 26px;
    position: relative;
    vertical-align: top;
    z-index: 100;
}
.btn-cost .rur {
    display: inline-block;
    margin-left: 2px;
    margin-top: -3px;
}
.btn-cost .text {
    margin: 0 2px 0 0;
    position: relative;
    z-index: 2;
}
.btn-find {
    background: url("../images/slice.png") no-repeat scroll -122px -1014px transparent;
    cursor: pointer;
    display: inline-block;
    height: 47px;
    text-indent: -9999px;
    vertical-align: middle;
    width: 83px;
}
.btn-find:hover {
    background-position: -122px -1061px;
}
.btn-find.inactive {
    background-position: -205px -1014px;
    cursor: default;
}
.btnDeleteTrip {
    background: url("../images/ico-my-trip.png") no-repeat scroll -7px -605px transparent;
    cursor: pointer;
    display: inline-block;
    height: 11px;
    text-indent: -9999px;
    vertical-align: middle;
    width: 11px;
}
.btnDeleteTrip:hover {
    background-position: -7px -663px;
}
.btnChangeStart {
    background: url("../images/btnTripAll.png") no-repeat scroll 0 0 transparent;
    color: #FFFFFF;
    display: inline-block;
    font-size: 12px;
    height: 22px;
    padding-top: 2px;
    text-align: center;
    text-shadow: 0 1px 0 #35383C;
    vertical-align: text-top;
    width: 105px;
}
.btnGoBuy {
    background: url("../images/slice.png") repeat scroll 0 -1518px transparent;
    display: inline-block;
    height: 40px;
    margin-left: 30px;
    margin-top: -6px;
    position: relative;
    text-indent: -9999px;
    vertical-align: middle;
    width: 193px;
}
/* NEW BUTTON */
.btnBlue {
    background: url("../images/btn.png") no-repeat scroll right 0 transparent;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    height: 37px;
    line-height: 34px;
    padding-left: 3px;
    padding-right: 10px;
    position: relative;
    text-align: center;
    text-shadow: 0 1px 0 #0B5B88;
    vertical-align: middle;
}

.btnBlue span {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    z-index: 2;
}
.btnBlue .price {
    font-size: 26px;
}
.btnBlue .rur {
    font-size: 25px;
    margin-top: 6px;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
	body:first-of-type .btnBlue .rur {
	    font-size: 25px;
	    margin-top: 4px;
	}
}

.btnBlue .l {
	background: url("../images/btn.png") no-repeat scroll left 0 transparent;
	display: block;
	position: absolute;
	height: 37px;
	width: 6px;
	left: -4px;
	top: 0px;
	z-index: 1;
}
.btnBlue:hover {
	background-position: right -37px;
}
.btnBlue:hover .l {
	background-position: left -37px;
}
.btnBlue .dotted {
    background: url("../images/booking.gif") no-repeat scroll 0 0 transparent;
    display: inline-block;
    height: 14px;
    margin-left: 0;
    margin-top: 1px;
    width: 108px;
}
/* btnOrang */
.btnOrang {
    background: url("../images/btn.png") no-repeat scroll right -74px transparent;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    height: 37px;
    line-height: 34px;
    padding-left: 3px;
    padding-right: 10px;
    position: relative;
    text-align: center;
    text-shadow: 0 1px 0 #c36408;
    vertical-align: middle;
}

.btnOrang span {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    z-index: 2;
}
.btnOrang .price {
    font-size: 26px;
}
.btnOrang .rur {
    font-size: 25px;
    margin-top: 6px;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
	body:first-of-type .btnOrang .rur {
	    font-size: 25px;
	    margin-top: 4px;
	}
}

.btnOrang .l {
	background: url("../images/btn.png") no-repeat scroll left -74px transparent;
	display: block;
	position: absolute;
	height: 37px;
	width: 6px;
	left: -4px;
	top: 0px;
	z-index: 1;
}
.btnOrang:hover {
	background-position: right -111px;
}
.btnOrang:hover .l {
	background-position: left -111px;
}

.btnBlue.inactive, .btnOrang.inactive, .btn-cost.selected {
	background-position: right -148px;
	text-shadow: 0 1px 0 #444D57;
	cursor: default;
}
.btnBlue.inactive .l, .btnOrang.inactive .l, .btn-cost.selected .l {
	background-position: left -148px;
}
.btnBlue.inactive:hover, .btnOrang.inactive:hover, .btn-cost.selected:hover {
	background-position: right -148px;
	text-shadow: 0 1px 0 #444D57;
	cursor: default;
}
.btnBlue.inactive:hover .l, .btnOrang.inactive:hover .l, .btn-cost.selected:hover .l {
	background-position: left -148px;
}
.btnBackMain {
    width: 180px;
    height: 37px;
    background: url(../images/btn.png) no-repeat -0px -185px;
    cursor: pointer;
    text-indent: -9999px;
    display: inline-block;
}
.btn-check {
    background: url("../images/btn-check.png") no-repeat scroll -0px 0px transparent;
    cursor: pointer;
    display: inline-block;
    height: 40px;
    margin-right: 40px;
    text-indent: -9999px;
    vertical-align: middle;
    width: 144px;
    float: right;
}