
/*--- CHECKBOX and RADIO ---*/
.ui-hover {
  display: block;
  cursor: pointer;
  line-height: 16px;
}
.checkbox {
	background: url("../images/check.png") no-repeat scroll 0 0 transparent;
    float: left;
    height: 16px;
    margin: 0 8px 2px 0;
    width: 15px;
}
.radio {
  background: url("../images/radio.png") no-repeat scroll center 0 transparent;
  float: left;
  height: 14px;
  width: 18px;
  margin: 3px 8px 2px 0;
}
.ui-hover:hover .checkbox {background-position:0 -32px;}
.checkbox.on {background-position:0 -16px;}
.ui-hover:hover .checkbox.on {background-position:0 -48px;}

.ui-hover:hover .radio {background-position: center -28px;}
.radio.on {background-position: center -14px;}
.ui-hover:hover .radio.on {background-position: center -42px;}

.ui-label {
  margin: 1px 0 3px;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 1px;
}
.ui-about {
  color: #777;
  line-height: 15px;
}