.filter-block {
	position: absolute;
	top: 0px;
	right: 0px;
	min-width: 160px;
	height: 100%;
	background: #e0e2e7;
	border-right: 1px solid #b8b9bf;
	border-left: 1px solid #b8b9bf;
}
.filter-content {
	color: #2E333B;
    width: inherit;
    height: 100%;
}
.filter-content.hotel .filter-minimize {
    background: url("../images/maps-minimize.png") no-repeat scroll center 0 transparent;
    bottom: -18px;
    cursor: pointer;
    height: 18px;
    position: absolute;
    width: 100%;
}
.filter-content.hotel .filter-minimize.hide {
	background: url("../images/minimize-hide.png") no-repeat scroll center 0 transparent;
	bottom: 25px;
	height: 38px;
	width: 100%;
}
.filter-content a {
	color: #1c81bb;
	border-bottom: 1px dashed;
}
.filter-content a.clean {
	display: inline-block;
    font-family: Arial;
    font-size: 11px;
    line-height: 13px;
    vertical-align: middle;
    color: #2174A3;
    border-bottom: 1px dashed ;
}
.innerFilter {
	position: relative;
	width: 100%;
	height: 100%;
}
.scrollBlock {
	height:100%;
	position: absolute;
	width: 100%;
}
.div-filter {
    border-top: 1px solid #B8B9BF;
    line-height: 25px;
    padding: 13px 20px 11px;
}
.div-filter.first {
	border-top:none;
	padding-top: 13px;
}
.slider-filter { 
	height: 23px; width: 100%;
	position: relative;
	color: #2e333b;
	margin-bottom: 11px;
}
.slide-filter.first {
	padding-left: 18px;
	padding-right: 21px;
	padding-top: 35px;
}
.slide-filter.first.hotel {
	padding-top: 13px;
}
/*--*/
.slide-filter {
	margin-bottom: 10px;
	line-height: 15px;
}
.linksFilter {
	color: #2174a3;
	font-size: 11px;
	text-decoration: underline !important;
	border-bottom: none !important;
}
/*--*/
.checkbox {
	background: url("../images/img-checkbox.png") no-repeat scroll 0 0 transparent;
    display: block;
    float: left;
    height: 18px;
    margin-right: 5px;
    vertical-align: middle;
    width: 17px;
}

.div-filter ul li {line-height: 15px; margin-bottom: 0px;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.more-filters{
    display: none;
}

.slider-wrapper-div{
    margin-left: 5px;
    margin-right: 7px;
    margin-top: 26px;
    height: 18px;
}