.ico-voyasha {
	display:inline-block;
	width: 39px; height: 57px;
	vertical-align: middle;
	background: url(../images/slice.png) no-repeat 0px -476px;
}
.recommended-ticket .ticket .date-time-city .how-long .ico-path {
	background: url(../images/slice.png) no-repeat -37px -33px;
	width: 61px; height: 11px;
}
.ico-breakfast-lunch {
    background: url("../images/ico.png") no-repeat scroll 0 -83px transparent;
    display: inline-block;
    height: 14px;
    width: 12px;
}
.ico-breakfast {
    background: url("../images/ico.png") no-repeat scroll 0 -97px transparent;
    display: inline-block;
    height: 15px;
    width: 12px;
}
.ico-breakfast-dinner {
    background: url("../images/ico.png") no-repeat scroll 0 -97px transparent;
    display: inline-block;
    height: 15px;
    width: 12px;
}
.ico-breakfast-lunch-dinner {
    background: url("../images/ico.png") no-repeat scroll 0 -97px transparent;
    display: inline-block;
    height: 15px;
    width: 12px;
}
.ico-descr {
	background: url(../images/ico.png) no-repeat -0px -23px;
	width: 10px; height: 9px;
	display: inline-block;
}
.ico-see-map {
	background: url(../images/ico.png) no-repeat -0px -0px;
	width: 16px; height: 11px;
	display: inline-block;
}
.dotted {
    background: url("../images/dotted.png") no-repeat scroll 0 0 transparent;
    display: inline-block;
    height: 10px;
    margin-left: -10px;
    vertical-align: middle;
    width: 10px;
}
.ico-glass {
	background: url(../images/ico.png) no-repeat -0px -53px;
	width: 16px; height: 15px;
	display: inline-block;
}
.ico-dog {
	background: url(../images/ico.png) no-repeat -0px -68px;
	width: 16px; height: 13px;
	display: inline-block;
}
.ico-plus {
	background: url(../images/ico-plus-hotel.png) no-repeat;
	width: 10px; height: 11px;
	display: inline-block;
	margin-right: 5px;
	vertical-align: middle;
}
.icoService {
	display: inline-block;
	width: 16px; height: 17px;
	vertical-align: middle;
	background: url(../images/ico.png) no-repeat 0px -112px;
	margin-right: 5px;
}
.icoService.in-hotel {
	background-position: 0px -146px;
}
.icoService.service {
	background-position: 0px -112px;
}
.icoService.sport {
	background-position: 0px -129px;
}
.icoService.turist {
	background-position: 0px -163px;
}
.icoService.internet {
	background-position: 0px -180px;
}
.icoService.dosug {
	background-position: 0px -197px;
}
.icoService.parkovka {
	background-position: 0px -214px;
}
.icoService.dop {
	background-position: 0px -231px;
}
