
  .jslider_round_voyanga .jslider-bg i,
  .jslider_round_voyanga .jslider-pointer { background-image: url(../images/jslider.round.voyanga.png); }

  .jslider_round_voyanga .jslider-pointer { width: 18px; height: 18px; top: -5px; margin-left: -8px; }

  .jslider_round_voyanga .jslider-bg i { height: 9px;}
  .jslider_round_voyanga .jslider-bg .v { position: absolute; width: 60%; left: 20%; top: 0; height: 8px; background-position: 0 -20px; }
  .jslider_round_voyanga .jslider-value {
      background: url("../images/jslider.galka.voyanga.png") no-repeat scroll center bottom transparent;
      color: #2E333B;
      font-family: Arial;
      font-size: 11px;
      height: 19px;
      left: 20%;
      line-height: 12px;
      padding: 1px 2px 0;
      position: absolute;
      top: -25px;
      white-space: nowrap;
  }