@charset "UTF-8";
#popupOverlay {
    background: none repeat scroll 0 0 #26292E;
    height: 100%;
    left: 0;
    opacity: 0.81;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}
.body-popup {
    height: 100%;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0 0px 0 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
#layer {
    padding-bottom: 1px;
}
.pv_cont {
    margin: 0 auto;
    padding: 10px 0 0;
    position: relative;
    width: 780px;
}
.pv_cont.error {
    margin: 0 auto;
    padding: 10px 0 0;
    position: relative;
    width: 530px;
}
#pv_box {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 6px 6px 6px 6px;
    padding: 1px 0 25px;
    position: relative;
    overflow: hidden;
}
#pv_box .content {
    margin: 20px 20px 0;
}
#pv_box .content p {
    line-height: 22px;
    color: #1d222b;
    font-size: 14px;
}
.pv_switch {
    height: 5px;
    margin: 10px auto;
    opacity: 0.4;
    padding: 0;
    width: 10px;
}
.popupBody {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 1px 2px rgba(1, 1, 1, 0.9);
    left: 0;
    margin-bottom: 20px;
    overflow-x: hidden;
    padding: 21px;
    position: absolute;
    top: 0;
    width: 780px;
    z-index: 1000;
}
#contentBox {
    position: relative;
}
#avia-body-popup .popupBody {
    width: 580px;
}
#avia-body-popup .popupBody #boxClose {
    top: 17px;
}
.popup {
    position: absolute;
    z-index: 1000;
}
.popup > div + div {
    position: relative;
}
#boxContent, #boxTopLeft, #boxTopCenter, #boxTopRight, #boxMiddleLeft, #boxBottomLeft, #boxBottomCenter, #boxBottomRight, #boxMiddleRight {
    float: left;
}
#boxMiddleLeft, #boxBottomLeft {
    clear: left;
}
#boxContent {
    background: none repeat scroll 0 0 #F4F7F9;
    color: #191B1C;
    line-height: 22px;
    min-width: 100px;
    padding: 0;
    position: relative;
}
#boxContent h1 {
    margin-bottom: 14px;
}
#boxTopLeft {
    background: url("../images/border1.png") no-repeat scroll -29px 0 transparent;
    height: 50px;
    width: 21px;
}
#boxTopCenter {
    background: url("../images/border1.png") repeat-x scroll 0 -102px transparent;
    height: 50px;
}
#boxTopRight {
    background: url("../images/border1.png") no-repeat scroll -50px 0 transparent;
    height: 50px;
    width: 20px;
}
#boxMiddleLeft {
    background: url("../images/border2.png") repeat-y scroll -29px 0 transparent;
    min-height: 100%;
    width: 21px;
}
#boxMiddleRight {
    background: url("../images/border2.png") repeat-y scroll -50px 0 transparent;
    min-height: 100%;
    width: 20px;
}
#boxBottomLeft {
    background: url("../images/border1.png") no-repeat scroll -29px -50px transparent;
    height: 50px;
    width: 21px;
}
#boxBottomCenter {
    background: url("../images/border1.png") repeat-x scroll 0 -152px transparent;
    height: 50px;
}
#boxBottomRight {
    background: url("../images/border1.png") no-repeat scroll -50px -50px transparent;
    height: 50px;
    width: 20px;
}
#boxClose {
    background: url("../images/btn-close.png") no-repeat scroll 0 0 transparent;
    color: #444444;
    cursor: pointer;
    display: block;
    height: 17px;
    margin: 0 auto;
    position: absolute;
    right: 7px;
    text-indent: -9999px;
    top: 10px;
    width: 17px;
    z-index: 10000;
}
