@charset "UTF-8";
#popupOverlay {
    background: none repeat scroll 0 0 #26292E;
    height: 100%;
    left: 0;
    opacity: 0.81;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}
.body-popup {
    height: 100%;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0 0px 0 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
#layer {
    padding-bottom: 1px;
}
.pv_cont {
    margin: 0 auto;
    padding: 10px 0 0;
    position: relative;
    width: 780px;
}
.pv_cont.error {
    margin: 0 auto;
    padding: 10px 0 0;
    position: relative;
    width: 530px;
}
#pv_box {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 6px 6px 6px 6px;
    padding: 1px 0 25px;
    position: relative;
    overflow: hidden;
}
#pv_box .contentText {
    margin: 20px 20px 0;
}
#pv_box .contentText p {
    line-height: 22px;
    color: #1d222b;
    font-size: 14px;
}
.pv_switch {
    height: 5px;
    margin: 10px auto;
    opacity: 0.4;
    padding: 0;
    width: 10px;
}
.popupBody {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 1px 2px rgba(1, 1, 1, 0.9);
    left: 0;
    margin-bottom: 20px;
    overflow-x: hidden;
    padding: 21px;
    position: absolute;
    top: 0;
    width: 780px;
    z-index: 1000;
}
#contentBox {
    position: relative;
}
#avia-body-popup .popupBody {
    width: 580px;
}
#avia-body-popup .popupBody #boxClose {
    top: 17px;
}
.popup {
    position: absolute;
    z-index: 1000;
}
.popup > div + div {
    position: relative;
}
#boxContent, #boxTopLeft, #boxTopCenter, #boxTopRight, #boxMiddleLeft, #boxBottomLeft, #boxBottomCenter, #boxBottomRight, #boxMiddleRight {
    float: left;
}
#boxMiddleLeft, #boxBottomLeft {
    clear: left;
}
#boxContent {
    background: none repeat scroll 0 0 #F4F7F9;
    color: #191B1C;
    line-height: 22px;
    min-width: 100px;
    padding: 0;
    position: relative;
}
#boxContent h1 {
    margin-bottom: 14px;
}
#boxTopLeft {
    background: url("../images/border1.png") no-repeat scroll -29px 0 transparent;
    height: 50px;
    width: 21px;
}
#boxTopCenter {
    background: url("../images/border1.png") repeat-x scroll 0 -102px transparent;
    height: 50px;
}
#boxTopRight {
    background: url("../images/border1.png") no-repeat scroll -50px 0 transparent;
    height: 50px;
    width: 20px;
}
#boxMiddleLeft {
    background: url("../images/border2.png") repeat-y scroll -29px 0 transparent;
    min-height: 100%;
    width: 21px;
}
#boxMiddleRight {
    background: url("../images/border2.png") repeat-y scroll -50px 0 transparent;
    min-height: 100%;
    width: 20px;
}
#boxBottomLeft {
    background: url("../images/border1.png") no-repeat scroll -29px -50px transparent;
    height: 50px;
    width: 21px;
}
#boxBottomCenter {
    background: url("../images/border1.png") repeat-x scroll 0 -152px transparent;
    height: 50px;
}
#boxBottomRight {
    background: url("../images/border1.png") no-repeat scroll -50px -50px transparent;
    height: 50px;
    width: 20px;
}
#boxClose, .boxClose {
    background: url("../images/btn-close.png") no-repeat scroll 0 0 transparent;
    color: #444444;
    cursor: pointer;
    display: block;
    height: 17px;
    margin: 0 auto;
    position: absolute;
    right: 7px;
    text-indent: -9999px;
    top: 10px;
    width: 17px;
    z-index: 10000;
}

.contentWrapBg, .loginWrapBg {
    background: rgba(38,41,46,0.8);
    height: 100%;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0 0px 0 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
.contentWrapBg .wrapDiv {
    margin-left: -335px;
    width: 670px;
}
.wrapContent {
    -webkit-border-radius: 8px;
    -moz-border-radius   : 8px;
    border-radius: 8px;
    background: #f4f7f9;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 30px;
    padding-bottom: 20px;
    width: 600px;
    color: #272b31;
    line-height: 18px;
    font-size: 14px;
}
.wrapContent h2 {
    font-size: 24px;
    margin-bottom: 15px;
}
.wrapContent .floatLeft {
    width: 235px;
    font-style: italic;
}
.wrapContent .floatRight {
    width: 359px;
    margin-left: 6px;
}
.wrapContent .floatRight img {
    vertical-align: middle;
}
.wrapContent .floatRight a {
    color: #1c81bb;
    text-decoration: underline;
}
.wrapContent .textBlock {
    overflow: hidden;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 600px;
}
.wrapContent .textBlock.telefon .floatLeft {
    background: url("../images/bg-contacts-line01.png") no-repeat right 10px;
}
.wrapContent .textBlock.telefon .floatRight {
    font-size: 42px;
    letter-spacing: -0.02em;
    line-height: 40px;
}
.wrapContent .textBlock.hEmail .floatLeft {
    background: url("../images/bg-contacts-line02.png") no-repeat right 10px;
}
.wrapContent .textBlock.oEmail .floatLeft {
    background: url("../images/bg-contacts-line03.png") no-repeat right 10px;
}
.wrapContent .textBlock.hEmail .floatRight a {
    font-size: 22px;
    line-height: 22px;
    color: #1c81bb;
    text-decoration: underline;
}
.wrapContent .textBlock.oEmail .floatRight a {
    font-size: 22px;
    line-height: 22px;
    color: #1c81bb;
    text-decoration: underline;
}
.shadowContact {
    background: url(../images/shadow-contacts.png) no-repeat;
    width: 639px;
    height: 34px;
    margin-left: -20px;
    margin-right: -19px;
    margin-bottom: -20px;
}
.lh28 {
    line-height: 24px;
}
.mainWrapBg {
    background: rgba(38,41,46,0.8);
    height: 100%;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0 0px 0 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
.wrapDiv {
    position: absolute;
    top: 7%;
    left: 50%;
    margin-left: -400px;
    padding-bottom: 20px;
    width: 800px;
}
/* LOGIN */
.loginWrapBg .wrapDiv {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -162px;
    margin-top: -150px;
    padding-bottom: 20px;
    width: 325px;
    height: 300px;
}
.loginWrapBg .wrapDiv .wrapContent {
    -webkit-border-radius: 8px;
    -moz-border-radius   : 8px;
    border-radius: 8px;
    background: #f4f7f9;
    padding:32px;
    width: 261px;
    height: 236px;
    color: #010101;
    line-height: 18px;
    font-size: 12px;
    background: url(../images/bg-login-pass.png) repeat-x;
    position: relative;
}
.loginWrapBg .wrapDiv .wrapContent h2 {
    font-size: 24px;
    text-shadow: 0 1px 0 #FFF;
}
.loginWrapBg .wrapDiv .wrapContent .divInput {
    width: 100%;
    height: 36px;
    position: relative;
    margin-top: 22px;
}
.loginWrapBg .wrapDiv .wrapContent .divInput input {
    padding: 0;
    padding-left: 8px;
    padding-right: 8px;
    height: 36px;
    font-size: 19px;
    border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    position: absolute;
    top: 0px;
    left: 0px;
    background: none;
    border: none;
    z-index: 2;
    width: 245px;
}
.loginWrapBg .wrapDiv .wrapContent .divInput input:focus {
    border-color: rgba(82, 168, 236, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.086) inset, 0 0 15px rgba(82, 168, 236, 0.9);
    color: #16181A !important;
    outline: 0 none;
}
.loginWrapBg .wrapDiv .wrapContent .rememberEnter {
    line-height: 31px;
    margin-top: 22px;
    height: 31px;
}
.loginWrapBg .wrapDiv .wrapContent .btnEnterLogin, .loginWrapBg .wrapDiv .wrapContent .btnEnterLogin:active, .loginWrapBg .wrapDiv .wrapContent .btnEnterLogin:hover {
    background: url("../images/btn-enterLogin.png") no-repeat scroll 0 0 transparent;
    border: medium none;
    color: #FFFFFF;
    display: inline-block;
    float: right;
    font-size: 14px;
    height: 31px;
    line-height: 30px;
    padding-bottom: 4px;
    text-align: center;
    vertical-align: middle;
    width: 84px;
    cursor: pointer;
    margin: 0;
    text-shadow: 0 1px 0 rgba(1,1,1,0.5);
}

.loginWrapBg .wrapDiv .wrapContent .btnRegLogin {
    width: 104px;
    height: 31px;
    line-height: 30px;
    background: url(../images/btn-regLogin.png) no-repeat;
    text-align: center;
    font-size: 14px;
    color: #FFF;
    display: inline-block;
    float: right;
    vertical-align: middle;
    cursor: pointer;
}

.loginWrapBg .wrapDiv .wrapContent .links {
    margin-top: 16px;
    line-height: 24px;
}
.loginWrapBg .wrapDiv .wrapContent .links a {
    text-decoration: underline;
}
.loginWrapBg .wrapDiv .wrapContent .enter {
    position: absolute;
    width: 261px;
    top: 32px;
}
.loginWrapBg .wrapDiv .wrapContent .registrate {
    position: absolute;
    width: 262px;
    top: 32px;
}
.loginWrapBg .wrapDiv .wrapContent .boxClose {
    top: 18px;
    right: 18px;
}