@charset "UTF-8";
#body-popup-Photo {
	position: fixed;
	width: 100%;
	height: 100%;
	overflow: hidden;
	left: 0px;
	top:0px;
	z-index: 2000;
}
#body-popup-Photo table {
	width: 100%;
	height: 100%;
}
#body-popup-Photo table #left, #body-popup-Photo table #right {
	width: 48%;
	position: relative;
}
#body-popup-Photo table #center {
	width: 4%;
	text-align: center;
	vertical-align: middle;
}
#body-popup-Photo table #left {
    background: url("../images/navigation-slide-photo-left.png") no-repeat scroll left center transparent;
    cursor: pointer;
}
#body-popup-Photo table #right {
    background: url("../images/navigation-slide-photo-right.png") no-repeat scroll right center transparent;
    cursor: pointer;
}
#body-popup-Photo table #left.none, #body-popup-Photo table #right.none {
    background: none;
    cursor: default;
}
#body-popup {
    height: 100%;
    left: 0;
    overflow-y: scroll;
    position: fixed;
    top: 0;
    width: 100%;
}
#popupOverlayPhoto {
    background: none repeat scroll 0 0 rgba(34, 37, 41, 0.9);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1999;
}
#popupPhoto {
    height: 100%;
    min-height: 600px;
    min-width: 1000px;
    position: absolute;
    width: 100%;
    z-index: 2000;
}
#photoBox {
    height: 100%;
    min-height: 600px;
    position: fixed;
    width: 100%;
}
#hotel-img-load {
    position: absolute;
}
#photoBox #imgContent > img {
    display: none;
    opacity: 0;
    position: relative;
    vertical-align: middle;
}
#photoBox #imgContent {
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
    z-index: 3;
}
#photoBox .left {
    background: url("../images/navigation-slide-photo-left.png") no-repeat scroll left center transparent;
    cursor: pointer;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 40%;
    z-index: 1;
}
#photoBox .right {
    background: url("../images/navigation-slide-photo-right.png") no-repeat scroll right center transparent;
    cursor: pointer;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 40%;
    z-index: 1;
}
.countAndClose {
    font-size: 16px;
    margin: 0 auto;
    padding-bottom: 5px;
    position: relative;
}
.countAndClose span.lost {
    color: #696C72;
}
#boxClosePhoto {
    background: url("../images/closePhotoPopUp.png") no-repeat scroll center center transparent;
    cursor: pointer;
    display: block;
    height: 18px;
    position: absolute;
    right: -3px;
    text-indent: -9999px;
    top: 0px;
    width: 17px;
    z-index: 2100;
}
.keyBoard {
    background: url("../images/keyaboard.png") no-repeat scroll center 30px transparent;
    bottom: 0;
    height: 90px;
    padding-top: 40px;
    position: absolute;
    text-align: center;
    width: 100%;
}
#titleNamePhoto {
    padding-top: 27px;
    text-align: center;
    z-index: 2;
    position: absolute;
    top:0px;
    left: 0px;
    width: 100%;
}
#titleNamePhoto h2 {
    font-size: 24px;
    margin-bottom: 15px;
}
