@import "body.css";
@import "trash.css";
@import "ico.css";
@import "btn.css";
@import "filter.css";
@import "tickets.css";
@import "checkradio.css";
@import "scroll.css";
@charset "UTF-8";
.wrapper {
	position: relative;
	width: 100%; 
	min-width: 1000px;
	min-height: 100%;
}
.head { 
	width: 100%;
	min-width: 1000px; 
	height: 38px; 
	background: url(../images/bg-head.png) repeat-x;
	z-index: 998;
	position: relative;
}
.center-block {
	min-width: 1000px;
	max-width: 1390px;
	margin: 0 auto;
	width: 100%; 
	_width: expression( document.body.clientWidth > 1390 ? '1390px' : ( document.body.clientWidth < 1000 ? '1000px' : '100%' ) );
	position: relative;
}
#content {
	padding-top: 35px;
	padding-bottom: 65px;
	margin: 0 auto;
	position: relative;
}
/* LOGO */
.head .center-block .logo {
	position: absolute;
	left:32px;
	top:7px;
	width: 122px;
	height: 27px;
	background: url(../images/slice.png) no-repeat 0 0;
	text-indent: -9999px;
	display: block;
}
/* ABOUT COMPANY WITH LOGO */
.head .center-block .about {
	position: absolute;
	display: block;
	text-indent: -9999px;
	width: 76px;
	height: 27px;
	left: 154px;
	top:7px;
	background: url(../images/slice.png) no-repeat -122px 0;
}
/* TELEFON */
.head .center-block .telefon {
	position: absolute;
	top:10px;
	left: 250px;
	width: 145px;
	height: 15px;
}
/*--- SLIDE TURN MODE ---*/
.slide-turn-mode {
	background: url(../images/slide-turn-mode.png) no-repeat 0 0;
	position: absolute;
	/* width: 553px; */
	width: 392px;
	height: 38px;
	top:0px;
	right: ;
}
.slide-turn-mode .switch {
	position: absolute;
	height: 31px;
	top:5px;
	left: 0px;
	z-index: 1;
}
.slide-turn-mode .switch .l {
	background: url(../images/slide-turn-mode.png) no-repeat 0 -78px;
	width:15px;
	height: 31px;
	display: inline-block;
	left: 0px;
	
}
.slide-turn-mode .switch .r {
	background: url(../images/slide-turn-mode.png) no-repeat -131px -78px;
	width:12px;
	height: 31px;
	display: inline-block;
	right: 0px;
}
.slide-turn-mode .switch .c {
	background: url(../images/slide-turn-mode.png) no-repeat 0 -109px;
	width:15px;
	height: 31px;
	display: inline-block;
}
.slide-turn-mode .bg-mask {
	background: url(../images/slide-turn-mode.png) no-repeat 0px -39px;
	position: absolute;	
	top:0px;
	left: 0px;
	/* width: 553px; */
	width: 392px;
	height: 37px;
	z-index: 2;
}
.slide-turn-mode .planner,.slide-turn-mode .aviatickets,.slide-turn-mode .hotel,.slide-turn-mode .finish-stages {
	z-index: 3;
	color: #2e2e2e;
	position: absolute;
	font-size: 14px;
	text-shadow: 0px 1px 0px #86888C;
	height: 20px;
    padding: 4px 0px;
    top: 6px;
}
.slide-turn-mode .planner {
	padding-left: 25px !important; 
	background: url(../images/slide-turn-mode.png) no-repeat 0px -173px;
	left: 13px;
}
.slide-turn-mode .planner.active {
	background-position: -520px -173px;
}
.slide-turn-mode .aviatickets {
	padding-left: 31px !important; 
	background: url(../images/slide-turn-mode.png) no-repeat 0px -236px;
	left: 167px;
}
.slide-turn-mode .aviatickets.active {
	background-position: -521px -235px;
}
.slide-turn-mode .hotel {
	padding-left: 31px !important; 
	background: url(../images/slide-turn-mode.png) no-repeat 0px -205px;
	left: 305px;
}
.slide-turn-mode .hotel.active {
	background-position: -520px -204px;
}
.slide-turn-mode .finish-stages {
	padding-left: 32px !important; 
	background: url(../images/slide-turn-mode.png) no-repeat 0px -142px;
	left: 416px;
}
.slide-turn-mode .finish-stages.active {
	background-position: -520px -142px;
}
.btn {
	cursor: pointer;
}
.btn a {
	text-decoration: none;
}
.btn a:hover, .btn:hover a {
	text-decoration: none; color: #101010;
}
.active:hover a {
	color: #FFF !important;
}
.active a {
	color: #FFF;
	text-shadow: 0px 1px 0px #0a5783;
}
.active a:hover {
	color: #FFF !important;
}

/* END SLIDE TURN MODE */
/* LOGIN WINDOW */
.login-window {
	position: absolute; top: 0px; right: 0px;
	background: url(../images/bg-head.png) 0px -38px;
	height: 38px; width: 165px;
	color: #000;
}
.login-window a {
	display: block;
	background: url("../images/slice.png") no-repeat scroll -487px -182px transparent;
	height: 28px;
	padding-left: 20px; margin: 10px 0px 0px 10px;
}
.login-window a:hover {
	text-decoration: none;
}
.login-window a span {
	display: inline-block;
	vertical-align: middle;
}
.login-window a span.point {
	background:  url("../images/slice.png") no-repeat scroll -8px -32px transparent;
	width: 6px; height: 4px;
}
/* PANEL */


.btn-timeline-and-condition {
	float: left;
    padding-top: 6px;
    width: 76px;
}
.btn-timeline-and-condition .btn-timeline {
	background: url("../images/slice.png") repeat scroll  0 -828px transparent;
    display: block;
    height: 21px;
    padding-top: 3px;
    text-align: center;
    width: 76px;
    color: #636467;
    text-shadow: 0px 1px 0px #0d0e0f;
    
    
}
.btn-timeline-and-condition .btn-timeline.active {
	background-position: -76px -828px;
	color: #FFF;
	text-shadow: none;
	
}
.btn-timeline-and-condition .btn-condition {
	background: url("../images/slice.png") repeat scroll -76px -852px transparent;
    display: block;
    height: 21px;
    padding-top: 3px;
    text-align: center;
    width: 76px;
    color: #636467;
    text-shadow: 0px 1px 0px #0d0e0f;
}
.btn-timeline-and-condition .btn-condition.active {
	background-position: 0px -852px;
    color: #FFF;
	text-shadow: none;	
}
.timeline {
    position: absolute;
    top: 0;
}
.timeline .left-corners {
	background: url("../images/bg-timeline.png") repeat-x scroll 0 -19px transparent;
    bottom: 1px;
    height: 18px;
    left: 18px;
    position: absolute;
    width: 10px;
}
.timeline .right-corners {
	background: url("../images/bg-timeline.png") repeat-x scroll -44px -19px transparent;
    bottom: 1px;
    height: 18px;
    right: 18px;
    position: absolute;
    width: 10px;
}
.timeline .btn-left {
	background: url("../images/bg-timeline.png") repeat-x scroll -0px -38px transparent;
	bottom: 1px;
    height: 18px;
    left: 0px;
    position: absolute;
    width: 10px;
    cursor: pointer;
}
.timeline .btn-right {
	background: url("../images/bg-timeline.png") repeat-x scroll -44px -38px transparent;
	bottom: 1px;
    height: 18px;
    right: 0px;
    position: absolute;
    width: 10px;	
    cursor: pointer;
}
.timedatelineOverflow {
	height: 61px; overflow: hidden; width: 735px; 	margin-left: 28px;
	margin-right: 28px;
}

.timedateline {
	height: 61px;

}
.timedateline li {
	float: left;
	background: url(../images/hr-timeline.png) no-repeat right 0px;
	width: 32px;
	text-align: center;
	color: #7b7c7f;
	text-shadow: 0px 1px 0px #2c3038;
	height: 61px;
	position: relative;
}

.timedateline li .date {
	position: absolute; bottom: 0px; left: 0px; text-align: center; width: 32px; height: 18px; padding-top: 1px;
	background: url(../images/bg-timeline.png) repeat-x 0 0;
	z-index: 2;
}
.timedateline li .trip-fly {
	width: 24px; border: 2px solid #133950; height: 6px;
	border-radius: 10px;
	box-shadow: 0px 0px 20px #1383c4;
	background: url(../images/bg-trip-fly.png);
	position: absolute;
	top:11px;
	z-index: 1;
	left: 2px;
}
.timedateline li .trip-hotel {
	width: 24px; border: 2px solid #452617; height: 6px;
	border-radius: 10px;
	box-shadow: 0px 0px 20px #f9610e;
	background: url(../images/bg-trip-hotel.png);
	position: absolute;
	top:27px;
	z-index: 1;
	left: 2px;
}
.condition {
    position: absolute;
    top: 0;
    padding-top: 17px;
    width: 839px;
}
.condition .whence, .condition  .where {
	width: 261px; height: 36px;
	background: url(../images/slice.png) no-repeat 0px -904px;
	display: inline-block;
	position: relative;
	float: left;
	
}
.condition .whence .input, .condition  .where .input {
	background: none; width: 251px; padding-left: 5px; padding-right: 5px; height: 36px; font-size: 21px; border: none; margin-top: -1px;
}
.condition .whence.date, .condition  .where.date {
	background-position: 0px -941px;
}
.condition .whence.date .input, .condition  .where.date .input {
	width: 213px;
}
.condition .whence .day, .condition  .where .day {
	display: none;
}
.condition .whence.date .day, .condition  .where.date .day {
	color: #FFFFFF;
    float: right;
    font-size: 11px;
    line-height: 10px;
    padding-top: 7px;
    text-align: center;
    text-shadow: 0 1px 0 #0A5783;
    width: 34px;
    display: block;
}
.condition .whence.date .day .f17, .condition  .where.date .day .f17 {
	font-family: Verdana;
    font-weight: bold;
}


/* END PANEL */
/* OTHER BLOCK */
.main-block {
	min-width: 585px;
	margin: 0 auto;
}
/* END */
/* LEFT BLOCK */
.left-block {
	position: absolute; 
	top:0px; left: 0px; 
	min-width: 245px; height: 100%;
	background: #f4f7f9;
	z-index: 100;	
}
.left-content {
	margin-top: 35px;
	margin-left: 12px;
	color: #1d222b;
}
.left-content h1 {
	margin-bottom: 20px;
}
/* MY TRIP LIST */
.my-trip-list .items {
	margin-top: -1px;
}
.my-trip-list .items a {
	display: block;
	background: url(../images/bg-line.png) center -1px no-repeat;
	height: 58px;
	position: relative;
	overflow: hidden;
	color: #2e333b;
	font-size: 13px;
	margin-left: -12px;
    margin-right: -10px;
    padding-left: 12px;
}
.my-trip-list .items.first .fly .keys {
	background: url("../images/ico-my-trip.png") no-repeat scroll 0 -0px transparent;
}
.my-trip-list .items.first .fly.toFrom .keys {
	background: url("../images/ico-my-trip.png") no-repeat scroll 0 -870px transparent;
}
.my-trip-list .items.first .hotel .keys {
	background: url("../images/ico-my-trip.png") no-repeat scroll 0 -407px transparent;
}
.my-trip-list .items .fly .keys {
	background: url("../images/ico-my-trip.png") no-repeat scroll 0 -233px transparent;
}
.my-trip-list .items .fly.toFrom .keys {
	background: url("../images/ico-my-trip.png") no-repeat scroll 0 -928px transparent;
}
.my-trip-list .items .hotel .keys {
	background: url("../images/ico-my-trip.png") no-repeat scroll 0 -175px transparent;
}
.my-trip-list .items .last .keys {
	background: url("../images/ico-my-trip.png") no-repeat scroll 0 -291px transparent;
}
.my-trip-list .items a.active {
    background: url("../images/slice.png") no-repeat scroll right -27px transparent;
    margin-bottom: 1px;
    margin-left: -12px;
    margin-right: -10px;
    padding-left: 12px;
}
.my-trip-list .items .hotel.active .keys {
	background: url("../images/ico-my-trip.png") no-repeat scroll 0 -465px transparent;
}
.my-trip-list .items .fly.active .keys {
	background: url("../images/ico-my-trip.png") no-repeat scroll 0 -523px transparent;
}
.my-trip-list .items .fly.toFrom.active .keys {
	background: url("../images/ico-my-trip.png") no-repeat scroll 0 -812px transparent;
}
.my-trip-list .items .last.active .keys {
	background: url("../images/ico-my-trip.png") no-repeat scroll 0 -349px transparent;
}
.my-trip-list .items a:hover {
	text-decoration: none !important;
	background: url(../images/bg-line.png) center -1px no-repeat rgba(185,187,189,0.3);
	margin-right: 0px;
}
.my-trip-list .items a:hover .date.orange-one, .my-trip-list .items a:hover .date.blue-one {
	right: 44px;
}
.my-trip-list .items a:hover .date.blue-two, .my-trip-list .items a:hover .date.orange-two {
	right: 10px !important;
}
/*
.my-trip-list .items a:hover .keys {
	background: url("../images/ico-my-trip.png") no-repeat scroll 0 -117px transparent;
}
.my-trip-list .items.first a:hover .keys {
	background: url("../images/ico-my-trip.png") no-repeat scroll 0 -581px transparent;
}
.my-trip-list .items a:hover.last .keys {
	background: url("../images/ico-my-trip.png") no-repeat scroll 0 -291px transparent;
}
.my-trip-list .items a:hover.active .keys {
	background: url("../images/ico-my-trip.png") no-repeat scroll 0 -59px transparent;
}
*/
.my-trip-list .items a.last:hover .keys:hover {
    background: url("../images/ico-my-trip.png") no-repeat scroll 0 -291px transparent;
}
.my-trip-list .items a:hover .keys:hover {
	background: url("../images/ico-my-trip.png") no-repeat scroll 0 -697px transparent;
}
.my-trip-list .items.first a:hover .keys:hover {
	background: url("../images/ico-my-trip.png") no-repeat scroll 0 -755px transparent;
}
.my-trip-list .items a:hover.active .keys:hover {
	background: url("../images/ico-my-trip.png") no-repeat scroll 0 -639px transparent;
}
.my-trip-list .items a:hover.active {
	background: url("../images/slice.png") no-repeat scroll right -27px transparent;
    margin-left: -12px;
    margin-right: -10px;
    padding-left: 12px;
}
.my-trip-list .items a:hover.active .date.orange-one, .my-trip-list .items a:hover.active .date.blue-one {
	right: 54px;
}
.my-trip-list .items a:hover.active .date.blue-two, .my-trip-list .items a:hover.active .date.orange-two {
	right: 20px !important;
}
.my-trip-list .items a .keys {
	float: left;
}
.my-trip-list .items a.fly .keys {
	display: block;
	width: 35px;
	height: 58px;
}
.my-trip-list .items a.hotel .keys {
	display: block;
	width: 35px;
	height: 58px;
}
.my-trip-list .items.end .last .keys {
	display: block;
	width: 35px;
	height: 58px;
}
.my-trip-list .items a .path {
	float: left;
	height: 46px;
	padding-top: 12px;
	width: 150px;
	position: relative;
}
.my-trip-list .items a .path .where {
	font-weight: bold;
	white-space: nowrap;
}
.my-trip-list .items a .path .time {
	color: #4b525c;
	white-space: nowrap;
}
.my-trip-list .items a .path .time .rub {
	background-position: 0 0;
	width: 9px;
	height: 10px;
}
.my-trip-list .items.end .last .path {
	font-size: 18px;
	color: #1d222b;
	padding-top: 20px;
	height: 39px;
}
.my-trip-list .items a .path .alpha {
	background: url(../images/gradient-left.png) repeat-y;
	width: 30px;
	position: absolute; top: 12px; right: 0px; height: 45px;
}
.my-trip-list .items a:hover .path .alpha {
	background: url(../images/gradient-left-hovers.png) repeat-y;
	width: 30px;
	position: absolute; top: 12px; right: 0px; height: 44px;
}
.my-trip-list .items a.active .path .alpha {
	background: url(../images/gradient-left-hover.png) repeat-y; 
	width: 30px;
	position: absolute; top: 12px; right: 0px; height: 44px;
}

/* DATE MY TRIP */
.my-trip-list .items a .date {
	font-size: 11px;
	line-height: 10px;
	position: absolute;
	top:13px;
	right: 54px;
	padding-top: 6px;
	color: #FFF;
}
.my-trip-list .items a .date .day {
	text-align: center;
	width: 37px;
	float: left;
}
.my-trip-list .items a .date .f17 {
	font-family: Verdana;
	font-weight: bold;
}
.my-trip-list .items a .date.blue-one {
	width: 37px;
	height: 30px;
	background: url(../images/slice.png) no-repeat 0 -440px;
	text-shadow: 0px 1px 0px #0a5783;
}
.my-trip-list .items a .date.orange-two {
	width: 70px;
	height: 30px;
	background: url(../images/slice.png) no-repeat -37px -440px;
	text-shadow: 0px 1px 0px #f55407;
	right: 20px;
}
.my-trip-list .items a .date.orange-two .day {
	width: 35px !important;
}
.my-trip-list .items a .date.blue-two {
	width: 70px;
	height: 30px;
	background: url(../images/slice.png) no-repeat -106px -440px;
	text-shadow: 0px 1px 0px #0a5783;
	right: 20px;
}
.my-trip-list .items a .date.blue-two .day {
	width: 35px !important;
}
.my-trip-list .items a .date.orange-one {
	width: 37px;
	height: 30px;
	background: url(../images/slice.png) no-repeat -175px -440px;
	text-shadow: 0px 1px 0px #f55407;
}

/* MY TRIP LIST END */



.finish-result {
	width: 100%;
	font-size: 11px;
	line-height: 20px;	
}
.finish-result .txt {
	color: #4b525c;
	width: 60%;
}
.finish-result .price {
	width: 40%;
	text-align: right;
	padding-right: 12px;
	color: #1d222b;
}
/* SUB HEAD MENU */
.sub-head {
	position: relative;
	padding-bottom: 43px;
	margin-bottom: -43px;
	background: url(../images/bg-head.png) repeat-x left bottom;
	width: 100%;
	min-width: 1000px;
	z-index: 4;
}
/* voyasha-text */
.voyasha-text {
	position: relative;
	margin-top: 18px;	
}
.voyasha-text .ico-voyasha {
	position: absolute;
	top: 10px;
}
.voyasha-text .inline-block {
	width: 195px;
	margin-left: 55px;
}
.voyasha-slider {
	margin-top: 30px; margin-bottom: 25px;
}
/* CONTENT */




/*---- filter-content -----*/

.lineBg {
	margin-top: -5px;
}
.all-list {
	padding-left: 2px;
    font-family: Arial;
    font-size: 11px;
    line-height: 13px;
}
.ticket-content {
	color: #3E4C52;
    margin: 0 auto 60px;
    position: relative;
}
.ticket-content.bg-none {
	margin-top: 0px;
	padding-top: 0px;
}
.ticket-content .order-div {
	letter-spacing: -0.03em;
	float: right;
	padding-top: 6px;
}
.ticket-content .order-div a {
    background: url("../images/btn-recommend-show-hide.png") no-repeat scroll 0 0 transparent;
    border-bottom: medium none;
    color: #1C81BB;
    display: block;
    height: 19px;
    margin-left: 0;
    margin-top: -5px;
    position: relative;
    text-indent: -9999px;
    width: 163px;
    z-index: 5;
}
.ticket-content .order-div a.show {
	background-position: 0px -19px;
}
.head-content {
	width: 695px;
	margin: 35px auto 0;
	position: relative;
}

.hotels { background: none !important}
.hotels  h1 {text-shadow: #FFF 0px 1px 0px; margin-bottom: 20px; letter-spacing: -0.05em;}

.minimize-rcomended {
	position: absolute;
	width: 176px; height: 19px;
	overflow: hidden;
	bottom: -19px; 
	right: 175px;
	z-index: 800;
}
.minimize-rcomended .btn-minimizeRecomended {
    background: url("../images/slice.png") no-repeat scroll 0 -807px transparent;
    height: 19px;
    padding-left: 28px;
    position: absolute;
    right: 0;
    width: 148px;
    z-index: 400;
    top: -19px;
    cursor: pointer;
}
.hotel-details {
	width: 782px;
}
#content > .title, .hotel-details > .title {
	padding:0px 45px 0px 0px;
	position: relative;
}
#content > .title h1, .hotel-details > .title h1 {
	float: left;
}
#content > .title .rating, .hotel-details > .title .rating{
    color: #202328;
    font-size: 11px;
}
#content > .title .rating .value, .hotel-details > .title .rating .value {
    display: inline-block;
    font-size: 20px;
}
#content > .title .rating span.text, .hotel-details > .title .rating span.text {
    display: inline-block;
    line-height: 9px;
    margin-left: 5px;
    text-align: left;
}
.stars {
	display: inline-block; width: 87px; height: 16px;
	background: url(../images/slice.png) no-repeat -0px -768px;
	vertical-align: top;
	margin-left: 0px;
	overflow:hidden;
	margin-top: 2px;
}
.stars.five {
	width: 87px;
}
.stars.four {
	width: 71px;
}
.stars.three {
	width: 54px;
}
.stars.two {
	width: 36px;
}
.stars.one {
	width: 18px;
}
.stars-select {
	display: inline-block; width: 89px; height: 16px;
	background: url(../images/slice.png) no-repeat -127px -768px;
	vertical-align: top;
	margin-left: 0px;
	overflow:hidden;
	margin-top: 2px;
	position: relative;
}
.stars-select  .none-select {
	 width: 89px; height: 16px;
	 position: absolute;
	 top:0px;
}

.stars-select.five .none-select  {
	width: 87px;
}
.stars-select.four .none-select {
	width: 71px;
}
.stars-select.three .none-select {
	width: 54px;
}
.stars-select.two .none-select {
	width: 36px;
}
.stars-select.one .none-select {
	width: 18px;
}
.stars-li {
	overflow: hidden;
	height: 17px;
    margin-top: -25px;
    padding-top: 23px; 
    position: relative; 
    z-index: 2;}
.stars-li li {
	float: left;
    height: 17px;
    margin-top: -25px;
    padding-top: 23px;
    text-align: center;
    width: 18px;
}
.stars-li li input {
	display: none;
}
.stars-li li label {
	height: 30px;
	display: block;
	width: 18px;
	text-align: center;
	margin-top: -25px;
    padding-top: 25px;
    cursor: pointer;
}
.stars-li li label.active {
	background: url("../images/stars.png") no-repeat scroll 1px 6px transparent;
}
#content > .title > .stars, .hotel-details > .title > .stars {
	position: absolute; bottom: -7px; left: 0px;
}
#content .place-buy, .hotel-details .place-buy {
	overflow: hidden;
	padding-left: 0px;
	padding-right: 4px;
}
#content .place-buy > .street, .hotel-details .place-buy > .street {
	color: #292D34;
    float: left;
    font-size: 14px;
    line-height: 20px;
    margin-right: 30px;
    margin-top: 11px;
    max-width: 460px;
}
.hotel-details .place-buy > .street {
	width: 285px;
}
#content .place-buy > .book, .hotel-details .place-buy > .book {
	float: right;
	color: #202328;
}
#content .place-buy > .book .cost, .hotel-details .place-buy > .book .cost {
	font-size: 22px;
}
#content .place-buy > .book .how-cost, .hotel-details .place-buy > .book .how-cost {
	float: left;
	margin-top: 10px;
}
#content .place-buy > .book .btn-cost, .hotel-details .place-buy > .book .btn-cost {
	margin-left: 10px;
}
.hotel-details .description {
	overflow: hidden;
}
.hotel-details .description .left {
	color: #4b4b4f;
}
.hotel-details .description .left .right {
	margin-left: 20px;
}
/*
.hotel-details .description .text {
	overflow: visible !important;
}
*/
.description > .left > .read-more {
	border-bottom: 1px dashed;
    color: #2174A3;
    display: inline-block;
    line-height: 15px;
    margin-bottom: 14px;
}
.hotel-details .description .left .text {
	color: #1a1b1e;
	line-height: 20px;
	margin-bottom: 0px;
}
.hotel-details .description .right {
	color: #5D5F63;
    float: right;
    width: 312px;
}
.hotel-details .description .right .map-hotel {
	width: 310px;
	border: 1px solid #c7c7c7;
	margin-bottom: 3px;
}
.tab .photo-slide-hotel {
	height: 150px;
	width: 822px;
}


.tmblr {
	float: left;
	margin-top: 11px;
}
.tmblr li {
	float: left;
	width: 91px;
	text-align: center;
	height: 24px;
	color: #42464b;
	line-height: 22px;
	margin-right: 5px;
}
.tmblr li .ico-descr, .tmblr li .ico-see-map {
	margin-right: 2px;
	vertical-align: middle;
}
.tmblr li a {
	border-bottom: 1px dashed;
}
.tmblr li.active {
	background: url(../images/tmblr-hotel.png) no-repeat 0 0;
}
.tmblr li.active .ico-descr {
	background-position: 0px -32px;
}
.tmblr li.active .ico-see-map {
	background-position: 0px -11px;
}
.tmblr li.active a {
	color: #292b2e;
	text-shadow: 0px 1px 0px #ffffff;
	border-bottom: none;
}
.tmblr li:hover a, .tmblr li a:hover, .tmblr li.active a:hover  {
	color: #292b2e !important;
}

.descr {
	background: #FFF;
	padding: 8px;
	border-radius: 6px;
	box-shadow: 1px 2px 0px 0px rgba(0, 1, 1, 0.2);
	-moz-box-shadow: 1px 2px 0px 0px rgba(0, 1, 1, 0.2); /* Для Firefox */
    -webkit-box-shadow: 1px 2px 0px 0px rgba(0, 1, 1, 0.2); /* Для Safari и Chrome */
	color: #1a1b1e;
	margin-top: 18px;
	overflow: hidden;
	margin-bottom: 20px;
	margin-left: -11px;
}
.descr > .left {
	float: left;
	width: 100%;
} 
.photo-slide-hotel {
	font-size: 11px;
	line-height: 16px;
	color: #8f9199;
	margin-bottom: 15px;
	/* width: 100%; */
	overflow: hidden;
	height: 170px;
    position: relative;
}
.photo-slide-hotel > ul {
	width: 10000px;
	overflow: hidden;
	height: 150px;
    position: absolute;
    left: 0px;
}
.photo-slide-hotel > ul > li {
	float: left;
	margin-right: 1px;
} 
.photo-slide-hotel > ul > li img {
	height: 150px;
}
.descr > .left .descr-text {
	padding-left: 3px;
	width: 100%;
}
.descr > .left .descr-text  a {
	color: #2174a3;
	border-bottom: 1px dashed;
}
.descr > .left .descr-text .text {
	height: 54px;
}
.descr > .left .descr-text h3 {
	display: inline-block;
	margin-right: 10px;
}
.descr > .left .right {
	float: right;
	width: 312px;
	color: #5d5f63;
	margin-bottom: 5px;
	margin-left: 30px;
}
.descr .right .map-hotel {
	width: 310px;
	height: 259px;
	border: 1px solid #c7c7c7;
	margin-bottom: 3px;
}
.map-big {
	width: 100%;
	height: 490px;
	overflow: hidden;
	border: 1px solid #c7c7c7;
	margin-bottom: 3px;
}
.service-in-hotel {
	margin-bottom: 20px;
	padding-left: 0px;
	background: url("../images/shadow-ticket.png") no-repeat scroll center top transparent;
	padding-top: 30px;
}
.service-in-room {
	margin-bottom: 20px;
	padding-left: 0px;
}
.service-in-hotel ul, .service-in-room ul {
	overflow: hidden;
	margin-bottom: -1px;
}
.service-in-hotel ul li, .service-in-room ul li {
    color: #4B4B4F;
    float: left;
    line-height: 20px;
    margin-bottom: -1px;
    margin-right: 5%;
    padding-bottom: 3px;
    padding-top: 3px;
    width: 25%;
}
.service-in-hotel ul li .ico-wi-fi, 
.service-in-hotel ul li .ico-glass, 
.service-in-hotel ul li .ico-dog,
.service-in-room ul li .ico-wi-fi, 
.service-in-room ul li .ico-glass, 
.service-in-room ul li .ico-dog  {
	margin-right: 7px; vertical-align: middle;
}
.info-trip {
	padding-left: 0px;
	/*
background: url("../images/shadow-ticket.png") no-repeat scroll center top transparent;
	padding-top: 30px;
*/
}
.info-trip .date-trip {
	font-size: 15px;
	color: #1d222b;
	line-height: 22px;
	margin: 0px 0px 7px 0px;
}
.info-trip h2 {
	color: #1d222b;
	font-size: 24px;
	text-shadow: 0px 1px 0px #FFF;
	line-height: 22px;
	margin-bottom: 18px;
}
.info-trip h3 {
	color: #4b525c;
	font-size: 18px;
	margin: 0px 0px 7px 0px;
	text-shadow: 0px 1px 0px #FFF;
	line-height: 18px;
	margin-bottom: 13px;
}
.block-trip {
	background: #FFF;
	padding: 10px;
	border-radius: 6px;
	box-shadow: 1px 2px 0px 0px rgba(0, 1, 1, 0.2);
	-moz-box-shadow: 1px 2px 0px 0px rgba(0, 1, 1, 0.2); /* Для Firefox */
    -webkit-box-shadow: 1px 2px 0px 0px rgba(0, 1, 1, 0.2); /* Для Safari и Chrome */
    margin-bottom: 25px;
    color: #535353;
}
.block-trip table {
	width: 100%;
}
.block-trip table .button {
	vertical-align: middle;
	width: 250px;
	text-align: right;
}
.button .btn-cost .cost {
	font-size: 24px;
}
.button > .btn-cost {
	padding-left: 6px;
	padding-right: 10px;
	width: 215px;
}
.button > .btn-cost .text {
    display: block;
    float: left;
    margin-right: 3px;
    margin-top: -1px;
    position: relative;
    z-index: 100;
}
.block-trip table ul li {
	margin-bottom: 1px;
	margin-top: 3px;
}
.block-trip table .name ul li span.text {
	color: #2174a3;
	text-shadow: 0px 1px 0px #FFF;
	font-weight: bold;
	font-size: 16px;
	margin-right: 10px;	
}
.block-trip table .name a {
	border-bottom: 1px dashed;
	font-size: 11px;
	line-height: 16px;
}
.block-trip table .name div.items {
	border-right: 1px solid #b6bcc4;
	border-bottom: 1px solid #b6bcc4;
	padding-bottom: 7px;
	padding-left: 10px;
	margin-left: -10px;
	padding-top: 15px;
	margin-top: -10px;
	position: relative;
}
.block-trip table .name div.items:last-child {
	margin-bottom: -10px; border-bottom: none;
}
.block-trip table .name div.items ul li table {
	width: 100%;
}
.block-trip table .name div.items ul li table .change {
	width: 55px;
	vertical-align: middle;
	text-align: center;
	padding-right: 11px;
}
.change-people {
	width: 53px; height: 24px;
	overflow: hidden;
}
.change-people .minus {
	float: left;
	cursor: pointer;
	width: 14px;
	height: 24px;
	background: url(../images/slice.png) no-repeat 0px -1200px;
}
.change-people .value {
	background: url(../images/slice.png) no-repeat -13px -1200px;
	width: 24px;
	height: 24px;
	float: left;
	overflow: hidden;
}
.change-people .value input {
	border: none;
	text-align: center;
	font-size: 14px;
	line-height: 16px;
	color: #0f0f10;
	font-weight: bold;
	width: 23px;
	background: none;
}

@-moz-document url-prefix() {
	.change-people .value input {
		border: none;
		text-align: center;
		font-size: 15px;
		line-height: 20px;
		color: #0f0f10;
		font-weight: bold;
		width: 26px;
		background: none;
	}
}
.change-people .plus {
	float: left;
	cursor: pointer;
	width: 14px;
	height: 24px;
	background: url(../images/slice.png) no-repeat -37px -1200px;
}

.tab .slide {
	background: none repeat scroll 0 0 #dadce0;
    height: 150px;
    margin-left: -21px;
    overflow: hidden;
    position: relative;
    width: 822px;
    margin-bottom: 15px;
    margin-top: 15px;
}
.photo-slide-hotel .left-navi {
	position: absolute; top:0px; left: 0px;
	width: 80px; height: 150px; cursor: pointer;
	background: url(../images/navigation-slide.png) no-repeat left 0;
	z-index: 900;
}
.photo-slide-hotel .right-navi {
	position: absolute; top:0px; right: 0px;
	width: 80px; height: 150px; cursor: pointer;
	background: url(../images/navigation-slide.png) no-repeat right 0;
	z-index: 900;
}
.photo-slide-hotel .left-opacity {
	position: absolute; top:0px; left: 0px;
	width: 40px; height: 150px;
	z-index: 800;
}
.photo-slide-hotel .right-opacity {
	position: absolute; top:0px; right: 0px;
	width: 40px; height: 150px;
	z-index: 800;
}
input.hotel-input {
	border: none; background: url(../images/bg-search-hotel-filter.png) no-repeat 0px 1px; width: 183px; height: 27px; padding-left: 5px; font-size: 13px;
}

/* MAPS */



.fly-ico {
	position: absolute; left: 26px; bottom: 0px; width: 86px; height: 70px;
	background: url(../images/fly-ico.png) no-repeat;
}
.hotel-ico {
	position: absolute; left: 26px; bottom: 0px; width: 86px; height: 70px;
	background: url(../images/hotel-ico.png) no-repeat;
}

.footer {
    background: url("../images/bg-footer.png") repeat-x scroll 0 0 transparent;
    bottom: 0;
    clear: both;
    height: 33px;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 12;
}
.foot-menu {
    background: url("../images/hr-hor-footer.png") no-repeat scroll right top transparent;
    height: 33px;
    position: absolute;
    right: 0;
    top: 0;
}
.foot-menu li {
    background: url("../images/hr-hor-footer.png") no-repeat scroll left top transparent;
    float: left;
    height: 19px;
    padding: 7px 20px;
    text-shadow: 0 1px 0 #202226;
}
.foot-menu li a {color: #d7d8dd; text-decoration: underline;}

/* TIME LINE */
.headAndTmblr {
	overflow: hidden;
}
.headAndTmblr h1 {
	float: left;
}
.headAndTmblr .tmblr {
	margin: 0px 0px 0px 34px;
}

.allTrip .block {
	overflow: hidden;
	position: relative;
	padding-left: 65px;
}
.allTrip .block .when {
	position: absolute;
	width: 65px;
	height: 100%;
	top: 0px;
	left: 0px;
	background: url(../images/bg-hr-when-trip-all.png) repeat-y;
}
.allTrip .block.end .when {
	background: none;
}
.allTrip .block .when .date {
	width: 38px;
	height: 38px;
	position: absolute;
	top: 0;
	right: 0px;
	background: url(../images/slice.png) no-repeat -414px -1406px;
	text-align: center;
	color: #FFFFFF;
    font-size: 11px;
    line-height: 10px;
}
.allTrip .block .when .date.blue-one {
	background-position: -461px -1406px;
}
.allTrip .block .when .date.blue-two {
	background-position: -414px -1330px;
    right: -24px;
    width: 85px;
}
.allTrip .block .when .date.orange-two {
	background-position: -414px -1367px;
    right: -24px;
    width: 85px;
}
.allTrip .block .when .date .f17 {
    font-family: Verdana;
    font-weight: bold;
}
.allTrip .block .when .date .day {
   	float: left;
    margin-top: 8px;
    text-align: center;
    width: 38px;
}
.allTrip .block .when .date .day + .day {
	margin-left: 10px;
	width: 37px;
}
.allTrip .block .headTitle {
	margin-bottom: 20px;
	width: 100%;
	color: #252628;
}

.allTrip .block .headTitle td.allCost {
	text-align: right;
	font-size: 11px; font-family: Arial;
	text-shadow: 0px 1px 0px rgba(172,186,194, 0.6);
}
.allTrip .block .headTitle td.allCost .costs {
	background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #C4CDD5;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 0 #EAEBEC;
    display: inline-block;
    font-size: 12px;
    padding: 2px 5px;
    text-shadow: 0px 1px 0px rgba(172,186,194, 0.6);
}
.allTrip .block .headTitle td.allCost .btnDeleteTrip {
	margin-left: 20px;
}
.allTrip .block .info {
	padding-bottom: 31px;
}
.allTrip .block .info > .text {
	padding-left: 45px;
}
.allTrip .block .ico-hotel {
	width: 26px;
	height: 26px;
	background: url(../images/ico-trip-all-hotel.png) no-repeat 6px 0px;
	display: inline-block;
	vertical-align: baseline;
	margin-right: 9px;
}
.allTrip .block .ico-jet {
	width: 26px;
	height: 26px;
	background: url(../images/ico-trip-all-jet.png) no-repeat center center;
	display: inline-block;
	vertical-align: bottom;
	margin-right: 9px;
}
.allTrip .block .title {
	display: inline-block;
	font-size: 22px;
	color: #252628;
	text-shadow: 0px 1px 0px #FFF;	
}
.allTrip .block .title span.f13 {
	font-size: 13px;
}
.hr-bg {
	width: 100%;
}
.allTrip .block .hr-bg {
	margin-bottom: -31px;
}
.allTrip .block.end .hr-bg {
	display: none;
}
.ticketContent {
	padding-right: 25px;
}
.descrTicket {
	font-size: 13px;
	color: #6b7076;
	text-shadow: 0px 1px 0px rgba(255,255,255,0.7);
	margin-bottom: 20px;
	width: 100%;
}
.descrTicket tr td {
	vertical-align: middle;
}
.descrTicket td.text {
	padding-left: 10px;
}
.descrTicket td.buttons {
	width: 160px;
	text-align: right;
}

.costItAll {
	text-align: right;
	color: #252628;
	font-size: 22px;
	padding-bottom: 70px;
}
.costItAll .allCost {
	font-weight: bold;
	font-size: 28px;
}
.detailCost {
	width: 172px; height: 31px;
	text-align: center;
	display: inline-block;
	margin-top: 9px;
	margin-right: 13px;
	
}


/* EVENTS */
.events {
    height: auto;
    min-width: 1000px;
    position: relative;
    width: 100%;
    z-index: 998;
    background: #FFF;
    color: #131416;
}
.events .center-block {
	overflow: hidden;
}
#eventsContent {
	padding-top: 13px;
	padding-bottom: 1px;
}
#eventsContent h1 {
	font-size: 30px;
	margin-bottom: 20px;
}

#eventsContent .photoAlbum {
	width: 100%;
	height: 355px;
	overflow: hidden;
	margin-bottom: 20px;
	margin-top: 20px;
}
#eventsContent p {
	line-height: 20px;
	margin-bottom: 20px;
}
#eventsContent .rightBlock {
	float: right;
	width: 190px;
	margin-left: 30px;
}


#eventsContent .rightBlock a {
	color: #2e333b;
	border-bottom: 1px dashed;
	margin: 10px 0px;
	display: inline-block;
}

#eventsContent .rightBlock .price {
	font-size: 30px;
	font-family: Verdana;
	font-weight: bold;
	display: block;
	margin-top: -25px;
}
#eventsContent .rightBlock .check {
	font-size: 11px;
	color: #5e6064;
	line-height: 15px;
	display: block;
	margin-bottom: 10px;
}

.toPoint {
	background: url(../images/toFromPoint.png) no-repeat 0px -31px;
	width:10px;
	height: 15px;
	display: inline-block;
	vertical-align: middle;
	margin-left: 0px;
	margin-right: 0px;
}
.fromPoint {
	background: url(../images/toFromPoint.png) no-repeat 0px -16px;
	width:10px;
	height: 15px;
	display: inline-block;
	vertical-align: middle;
	margin-left: 0px;
	margin-right: 0px;
}
.toFromPoint {
	background: url(../images/toFromPoint.png) no-repeat 0px 0px;
	width:10px;
	height: 15px;
	display: inline-block;
	vertical-align: middle;
	margin-left: 0px;
	margin-right: 0px;
}

.autocomplete {
	background: #FFF url(../images/autocompleteTopBgAvia.png) 0px 0px no-repeat;
	margin-top: -4px;
	width: 289px;
	font-size: 14px;
	color: #16181a;
	padding-top: 4px;
	box-shadow: 0 2px 2px rgba(1, 1, 1, 0.6); 
	-moz-box-shadow: 0 2px 2px rgba(1, 1, 1, 0.6); /* Для Firefox */
    -webkit-box-shadow: 0 2px 2px rgba(1, 1, 1, 0.6); /* Для Safari и Chrome */
	border-radius: 0px 0px 4px 4px;
	overflow: hidden;
}
.autocomplete.hotel {
	background: #FFF url(../images/autocompleteTopBgHotel.png) 0px 0px no-repeat;
}
.autocomplete.tours {
	background: #FFF url(../images/autocompleteTopBgTours.png) 0px 0px no-repeat;
}
.autocomplete div {
	padding: 7px 10px;
	cursor: pointer;
	position: relative;
	white-space: nowrap;
	overflow: hidden;
}

.autocomplete div .code {
	display: block;
	position: absolute;
	padding: 7px 0px 7px 5px;
	background: #FFF;
	color: #969ba1;
	font-size: 11px;
	text-transform: uppercase;
	right: 0px;
	top: 0px;
	width: 36px;
	text-align: left;
	-moz-box-shadow: -7px 0 6px rgba(255,255,255,1); /* Для Firefox */
    -webkit-box-shadow: -7px 0 6px rgba(255,255,255,1); /* Для Safari и Chrome */
    box-shadow: -7px 0 6px rgba(255,255,255,1); /* Параметры тени */
    border-radius: 0px 0px 4px 4px;
}
.autocomplete div .country {
	color: #969ba1;
}
.autocomplete div:hover, .autocomplete div:hover .code, .autocomplete .selected, .autocomplete .selected .code {
	background: #e2e5eb;
}
.autocomplete div:hover .code, .autocomplete .selected .code {
	-moz-box-shadow: -7px 0 6px rgba(226,229,235,1); /* Для Firefox */
    -webkit-box-shadow: -7px 0 6px rgba(226,229,235,1); /* Для Safari и Chrome */
    box-shadow: -7px 0 6px rgba(226,229,235,1); /* Параметры тени */
}



/* INDEX */
.slideTours {

    bottom: 31px;
    height: 195px;
    position: absolute;
    width: 100%;
    z-index: 10;
}
.slideTours.mapsView {
	background: url("../images/bg-index-slide.png") repeat-x scroll 0 10px transparent;
}
.slideTours .center{
	
    height: 195px;
    margin: 0 auto;
    max-width: 1390px;
    min-width: 1000px;
    overflow: hidden;
    position: relative;
    white-space: nowrap
}
.maps {
	position: fixed; width: 100%; height: 100%; overflow: hidden;
	background: url(../images/bg-index.png);
	z-index: 0;
    top: 0px; left: 0px;
	
}
.scroll-none { overflow: hidden;}
.toursTicketsMain {
	background: #f4f7f9;
	width: 15%;
	height: 175px;
	position: relative;
	color: #262930; 
	float: left;
	margin-left: 1px;
	margin-right: 1px;
	margin-top: 15px;
}
.toursTicketsMain:hover {
	cursor: pointer;
}
.toursTicketsMain .l {
	width: 6px;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 3;
	background: url(../images/bg-tours-main.png) no-repeat -30px 0px;
	height: 176px;
}
.toursTicketsMain .r {
	width: 30px;
	position: absolute;
	top:0px;
	right: 0px;
	z-index: 3;
	background: url(../images/bg-tours-main.png) no-repeat 0px 0px;
	height: 176px; 
}
.toursTicketsMain .innerTours {
	background: none repeat scroll 0 0 #F4F7F9;
    padding: 6px 6px 5px 6px;
    position: relative;
    z-index: 2;
}
.imgTours {
	width: 100%;
	height: 106px;
	overflow: hidden;
}
.imgTours img {
	vertical-align: middle; width: 100%;
}
.toursTicketsMain .textTours {
	line-height: 25px;
    padding-left: 10px;
    padding-top: 3px;
}
.toursTicketsMain .textTours .price {
	font-size: 26px;
	font-weight: bold;
}
.toursTicketsMain .textTours .rur {
	font-weight: bold;
	font-size: 25px;
}
.lookEyes {
	width: 30px;
	height: 30px;
	position: absolute;
	top: 0px;
	left: 0px;
	background: url(../images/bg-tours-main.png) no-repeat -36px 0px;
	opacity: 0;
}
.lookEyes:hover {
	opacity: 1;
}
.toursTicketsMain .triangle {
	position: absolute;
	left: 50%;
	top: 0px;
	z-index: 0;
	width: 11px;
	height: 17px;
}
.toursTicketsMain .triangle img {
	margin-left: -11px;
}

.maps .innerBlockMain {
	max-width: 100%;
	min-width: 1000px;
	margin: 0 auto;
	margin-top: 38px;
	position: relative;
}
.maps .innerBlockMain .IMGmain {
	position: absolute;
	width: 1390px;
	z-index: 2;
}

.maps .innerBlockMain .IMGmain + .IMGmain {
	z-index: 1;
}
.maps .innerBlockMain .IMGmain img {
	width: 1390px;
    position: absolute;
}

.maps .mapsBigAll {
	position: absolute;
	width: 100%;
	height: 100%;
	background: url(../images/mapsBigAll.png) center center repeat-x;
	z-index: 1;
	display: none;
	box-shadow: 0 2px 5px rgba(13,13,14,0.9);
}
.maps .toursBigAll {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 2;
	
}
.maps .toursBigAll .centerTours {
	position: relative;
	max-width: 1390px;
	min-width: 1000px;
	height: 100%;
	margin: 0 auto;
	overflow: hidden;
	box-shadow: 0 2px 5px rgba(13,13,14,0.9);
}
.maps .toursBigAll .centerTours .close {
	position: absolute;
	z-index: 3;
	width: 14px;
	height: 15px;
	background: url(../images/closeMainPhoto.png) no-repeat 0 0;
	cursor: pointer;
	top: 17px;
	right: 12px;
}
.maps .toursBigAll .centerTours .textTours {
	bottom: 23px;
    color: #FFFFFF;
    display: block;
    font-size: 16px;
    line-height: 32px;
    position: absolute;
    right: 25px;
    text-align: right;
    text-shadow: 1px 1px 1px #000000;
    white-space: nowrap;
    z-index: 3;
}
.maps .toursBigAll .centerTours .textTours:hover .txt {
	text-decoration: underline;
}
.maps .toursBigAll .centerTours .textTours .price {
	font-size: 36px;
	font-weight: bold;
}
.maps .toursBigAll .centerTours .textTours .rur {
	font-size: 35px;
	font-weight: bold;
}

.fixed {
    position: fixed;
}
.sorting-panel {
	position: absolute;
	right: 6px;
	top: 2px;
	color: #3e4c52;
}
.sorting-panel .hotel-sort-by-item {
	color: #1c81bb;
	border-bottom: 1px dashed;
	cursor: pointer;
}
.sorting-panel .hotel-sort-by-item.active {
	border-bottom: none;
}
.allTicketsDIV {
	background: #f4f7f9;
	border-radius: 6px;
	box-shadow: 0px 1px 1px rgba(26,27,31,0.6);
	color: #1d222b;
}
.allTicketsDIV .aviaTickets {
	width: 100%;
}

.backToBack, .backToBackBottom {
    background: url("../images/btn-back-point.png") no-repeat scroll left center transparent;
    color: #2E2F31;
    left: -11px;
    padding-left: 12px;
    position: absolute;
    top: 11px;
    z-index: 5;
}
.backToBackBottom {
	bottom: 40px;
	top: auto;
}
.backToBack span, .backToBackBottom span {
	border-bottom: 1px dotted;
}

.serviceInHotelTable {
	width: 100%;
	border-bottom: 1px dotted #4B4B4F;
	margin-bottom: 13px;
}
.serviceInHotelTable tr td {
	padding-bottom: 3px;
}
.serviceInHotelTable .title {
	width: 210px;
}
.serviceInHotelTable .title h3 {
	font-size: 14px;
	color: #2f3134;
}
.serviceInHotelTable .list ul li {
	list-style: disc;
}