
.center {
    margin: 0 auto;
}
.float {
    float: left;
}
.clear {
    clear: both;
}
.border {
    outline: 1px solid #CC3300;
}
.bold {
    font-weight: bold;
}
.em {
    font-style: italic;
}
.f11 {
    font-size: 11px;
}
.f14 {
    font-size: 14px;
}
.f17 {
    font-size: 17px;
}
.f19 {
    font-size: 19px;
}
.f21 {
    font-size: 21px;
}
.f22 {
    font-size: 22px;
}
.f26 {
    font-size: 26px;
}
.rub {
    background: url("../images/rub.png") no-repeat scroll 0 0 transparent;
    display: inline-block;
    vertical-align: baseline;
}
.hr {
    background: #B6BCC4;
	border: none;
	height: 1px;
	margin-left: -13px;
    
}
.inline-block {
    display: inline-block;
}
.grey {
    color: #777A7F;
}
.bg-none {
    background: none repeat scroll 0 0 transparent !important;
}
#load {
    background: url("../images/load.gif") no-repeat scroll 0 0 transparent;
    height: 55px;
    left: 49%;
    position: fixed;
    top: 49%;
    width: 54px;
    z-index: 1999;
}
